div(class="branding sc bg_transparent")
	h1
		a(href="/#!?s", title="") 
			span #{locals.site_title}

mb-topmenus
mb-flashmessage

div.main_center.user_account.bordered
	h3 {{render_config.i18n.CUSTOM.USER.myprofile}} 
	a(style="float:right;" ng-click="external_link(root_url+'/signout')") {{render_config.i18n.CUSTOM.USER.logout}} &nbsp;
			i.fa.fa-sign-out 

	br
	// br
	// 
	// h5 {{render_config.i18n.CUSTOM.USER.logged_in_as}} 
		strong {{userin.username}}
	p
		label {{render_config.i18n.CUSTOM.USER.pick_username}} 
		input(type="text", ng-model="userin.username")

	// 	p {{userin}}
	// p {{userin.user_options}}
	p
		label {{render_config.i18n.CUSTOM.USER.pick_email}} - {{render_config.i18n.CUSTOM.USER.hidden_from_public}}
		input(type="text", ng-model="userin.email")
	p(ng-if="!userin.username == 'musicbox'")
		label {{render_config.i18n.CUSTOM.USER.pick_password}}
		input(type="password", ng-model="userin.password")

	p
		label {{render_config.i18n.CUSTOM.USER.subscribe_option}} 
		input(type="checkbox", ng-model="userin.newsletter" )
		
	p
		a.btn(ng-click="edit_user()") save



	div(ng-if="userin.username =='Admin'")
		h3 Options
		ul 
			li You are an admin ? {{userin.is_admin}}
			li You are an editor ? {{userin.is_editor}}
			// li subscribed to newsletter ? {{me.newsletter}}

		
		div(ng-repeat="option in userin.user_options track by $index")
			div
				label {{option.option_name}}
				input(type="text", ng-model="option.option_value" )
				span(ng-if="option.option_name =='color'" , style="color:{{option.option_value}};") my color
					span.color_avatar(style="background-color:{{option.option_value}}")


	hr
	br
	div(ng-if="documents && documents.length > 0")
		h3.mydocuments(style="float:left;" ng-bind-html="render_config.i18n.CUSTOM.DOCUMENT.my_documents")
		br 
		table.user_documents()
			thead
				tr
					th {{render_config.i18n.CUSTOM.DOCUMENT_FIELDS.title}} 
					th {{render_config.i18n.CUSTOM.DOCUMENT_FIELDS.published}} 
					th {{render_config.i18n.CUSTOM.DOCUMENT_FIELDS.room}}
					th {{render_config.i18n.CUSTOM.DOCUMENT_FIELDS.updated}} 
					th options
			
			tbody
				tr(ng-repeat="doc in documents")
					td 
						a(href="/doc/{{doc.slug}}") {{doc.title}} 
					td {{doc.published}}
					td {{doc.room.name}} 
					td {{doc.created | date }}
					
					td 
						i.fa.fa-cogs(href="", ng-click="external_link('/doc/'+doc.slug+'?mode=doc_options') " )
						i.fa.fa-edit(href="", ng-click="external_link('/doc/'+doc.slug+'?mode=editor') " )

						i.fa.fa-unlock(href="", ng-click="external_link('/doc/'+doc.slug+'?secret='+doc.secret) " )
						i.fa.fa-database(href="", ng-click="external_link('/api/v1/doc/'+doc.slug) " ) 
						// {{doc._id}}
					
					
						i.fa.fa-trash.delete_document(href="", ng-click="delete_document(doc) " )

						
		// a.btn_big.btn_newdoc(title="{{render_config.i18n.CUSTOM.DOCUMENT.create_new}}" href="/doc/create") {{render_config.i18n.CUSTOM.DOCUMENT.create_new}}

		a.btn_big.btn_newdoc(title="{{render_config.i18n.CUSTOM.DOCUMENT.create_new}}" ng-click="create_doc()" ) {{render_config.i18n.CUSTOM.DOCUMENT.create_new}}

		// p 
			img(ng-src="{{me.image_url}}")
		//p 
			a(href="/doc/create") {{render_config.i18n.CUSTOM.DOCUMENT.create_new}} 

	a.btn_big.btn_newdoc(ng-if="documents.length==0 && userin.trust == 'confirmed'" title="{{render_config.i18n.CUSTOM.DOCUMENT.create_new}}" ng-click="create_doc()" ) {{render_config.i18n.CUSTOM.DOCUMENT.create_first}}
	p(ng-if="userin.trust !== 'confirmed'") You need to confirm your account (sent by mail) before being allowed to create document
footer
	p 2015 - MusicBox