div(class="branding sc bg_transparent")
	h1
		a(href="/#!?s", title="") 
			span #{locals.site_title}

mb-topmenus
mb-flashmessage

div.main_center.login_form.bordered
	div.left_part
		form(name="myForm" , novalidate class="css-form  ")
			p {{myForm.errors}}
			h3 
				{{i18n.CUSTOM.USER.login}}
			label Username
			input(required  type="text",  ng-model= "username",  name="username")
			label Password
			input(required type="password", ng-model="password",  name="password")
			a.btn_ok.float_right(ng-if="myForm.$valid == true" , ng-click="checklogin()") ok

	div.lostpass
		a(ng-click="toggle_lostpass_form()") Lost password ?
		div(ng-if="lostpass_form")
			label {{i18n.CUSTOM.USER.pick_email}} 
			input(type="text", ng-value="lost" ng-model="lost", name="lost"  )
			a.btn_ok.float_right(ng-if="complete == false" ng-click="lostpass_post(lost)") reset password
			a.btn_ok.float_right(ng-if="complete == true") reset link sent



	div.right_part
		h3 {{i18n.CUSTOM.USER.no_account_yet}}
		a(href="{{register_url}}") {{i18n.CUSTOM.USER.register}}
		// ou avec facebook