div.top_menus(ng-include="fragments['top_menus'][0]['url']")

div(class="branding sc bg_white")
	h1
		a(href="/#!", title="") 
			span #{locals.site_title}
div.main_center.login_form.bordered
	div.left_part
		form(name="myForm" , novalidate class="css-form  ")
			p {{myForm.errors}}
			h3 
				{{render_config.i18n.CUSTOM.USER.login}}
			label Username
			input(required  type="text",  ng-model= "username",  name="username")
			label Password
			input(required type="password", ng-model= "password",  name="password")
			a.btn_ok.float_right(ng-if="myForm.$valid == true" , ng-click="checklogin()") ok
			//input(type="submit", value="Submit")
	div.right_part
		h3 {{render_config.i18n.CUSTOM.USER.no_account_yet}}
		a(href="{{register_url}}") {{render_config.i18n.CUSTOM.USER.register}}
		// ou avec facebook

