
// main render-view file

// inludes partial
// flash_message
// * logo / title / editors ..
//
// loop each section
// loop each layout
// loop each objects 

// FLASH Message
div.flash_message(ng-if="flash_message.text !==''", class="{{flash_message.classname}}")
	span.inside
		span {{flash_message.text}}
		span.flash_closer(ng-click="flash_message.text = ''" ng-if="flash_message.closer === true")
			i.fa.fa-times-circle( )

// CHAPTERS
div.chapters(ng-if="doc_options['chapters-menu'].value == 'true' && ui.renderAvailable_active == 'read'" ng-include="fragments['chapters'][0]['url']")

// TOP MENUS
div.top_menus(ng-include="fragments['top_menus'][0]['url']")


// div.editor_zone.doc_centered(ng-if="ui.renderAvailable_active == 'editor'" ng-include="fragments['document_textarea'][0].url" )

div(ng-include="fragments['before_doc'][0].url" )



// h3 mode du document:{{ui.renderAvailable_active}} 
div(ng-if="ui.renderAvailable_active == 'doc_options'", ng-include="fragments['doc_options'][0].url")
div(ng-if="ui.renderAvailable_active == 'dataset'", ng-include="fragments['dataset'][0].url")
div(ng-if="ui.renderAvailable_active == 'card'", ng-include="fragments['post_excerpt'][0].url")


div(ng-hide="ui.renderAvailable_active == 'doc_options' || ui.renderAvailable_active == 'card' || ui.renderAvailable_active == 'dataset' " , class="sections_count_{{sectionstocount}} sections_container")


	section(ng-include="fragments['section'][0].url" , id="anchor{{$index+1}}" , ng-repeat='section in containers' ,  style="{{section.section_styles}} background-repeat:no-repeat;", class="focus_ focus_{{ui.focus_side}} {{section.section_classes}} selected_{{section.selected}}")



