
// main render-view file

// inludes partial
// flash_message
// * logo / title / editors ..
//
// loop each section
//  loop each layout
//   loop each objects 

div.flash_message(ng-if="flash_message.text !==''", class="{{flash_message.classname}}")
	span {{flash_message.text}}

div(ng-include="fragments['branding'][0]['url']")
div(ng-include="fragments['before_doc'][0].url" )
div(ng-if="ui.renderAvailable_active == 'doc_options'", ng-include="fragments['doc_options'][0].url")


div(ng-hide="ui.renderAvailable_active == 'doc_options'" , class="sections_container")
	section( ng-repeat='section in containers' ,  style="{{section.section_styles}} background-repeat:no-repeat;", class="focus_ focus_{{ui.focus_side}} {{section.section_classes}} selected_{{section.selected}}")
		div(ng-if=" section['objects_count']['by_positions'][layout.name].count > 0 || layout.include_even_empty", ng-repeat='layout in available_layouts')
			
			div( class="layout_ layout_name_{{layout.name}} has_count_{{section.objects_count.by_positions[layout.name].count}} has_object_{{section.objects_count.by_positions[layout.name].has_object}}")
				

				// title, author, date, ..
				div(ng-if="(layout.name == 'center') && ($parent.$parent.$first) ", ng-include="fragments['doc_title'][0].url")
						
				div(ng-if="layout.name == 'right'")
					div(ng-include="fragments['section_editor'][0].url" )
										
					div(class="markup_ container_class_type_inline", ng-if="ui.renderAvailable_active == 'editor'" , ng-repeat="markup in section.objects['container_class']['inline']" ng-include="fragments['markup'][0].url")
					
					div(class="markup_ markup_type_inline", ng-if="ui.renderAvailable_active == 'editor'" , ng-repeat="markup in section.objects['markup']['inline']", ng-include="fragments['markup'][0].url")

				div(ng-if="layout.name == 'left'")

					span.open_comment(ng-click="open_comment_push(section)") +
					div.comment_form(ng-if="ui.menus.push_comment.open == section.sectionin ",  ng-include="fragments['comment_form'][0].url")

				div(ng-if="layout.include_objects !==false" , ng-repeat='object in available_sections_objects')

					div(class="markup_ markup_type_{{markup.type}}" ng-repeat="markup in section.objects[object][layout.name]", ng-include="fragments['markup'][0].url")
				
				div(ng-if="layout.name == 'inline'")
					// h1 {{section.modeletters}}
					// letters !
					// *ng-class="l.classes"
					div.theletters(ng-if="section.modeletters=='single'")
						// span.lt(class="{{l.classes_flat}}", ng-bind-html="l.char", lt="l" , ng-repeat="l in section.letters")
						span.lt(ng-class="l.classes", class="in_range_{{l.inrange}}", ng-bind-html="l.char", lt="l" , ng-repeat="l in section.letters track by $index")
					// div.fluidtext(fluidtext, section="section" , ng-if="section.modeletters !=='single'")
					div.fluidtext(fluidtexte, section="section" , ng-bind-html="section.fulltext_block",  ng-if="section.modeletters !=='single'") 

				div(ng-if="(layout.name == 'global') && ($parent.$parent.$last) && objects_sections['global_all'].length > 0")
							div.inside()
								h4 global
								div(class="markup_ markup_type_{{markup.type}}", ng-repeat="markup in objects_sections['global_all']" , ng-include="fragments['markup'][0].url")		
		
				div.isolated(ng-if="layout.name == 'global' && $parent.$parent.$last &&  ui.isolated_markups.length > 0" )
					h4 isolated
					div(ng-repeat="markup in ui.isolated_markups ", ng-include="fragments['markup'][0].url")


		// render into the layout loop, only "if last"
		// made to apply last section styles to footer
		footer(ng-if="$last")
			p(ng-bind-html="doc_options.footer_center_html.value")
			// input(ng-if="ui.editing_footer_center_html",   ng-model="doc_options.footer_center_html.value", name="doc_options.footer_center_html.value")
			// p(ng-bind-html="doc_options.footer_center_html.value +'&nbsp;'", class="editing_{{ui.editing_footer_center_html}}" , ng-dblclick="edit_doc_option('footer_center_html')") {{}} &nbsp;
			// input(ng-if="ui.editing_footer_center_html",   ng-model="doc_options.footer_center_html.value", name="doc_options.footer_center_html.value")
		
