// div.ct-chart
//div(ng-include="fragments['branding'][0]['url']")


div(ng-include="fragments['before_doc'][0].url" )
div(class="sections_container")
	section(ng-repeat='section in containers' , class="{{section.section_classes}}")
		div(ng-repeat='layout in available_layouts')
			div(class="layout_ layout_name_{{layout.name}} has_count_{{section.objects_count.by_positions[layout.name].count}} has_object_{{section.objects_count.by_positions[layout.name].has_object}}")
				// h3 {{section.objects_count.by_positions[layout.name].count}}
				div(ng-if="layout.name == 'global' && $parent.$last")
					
					// h3 
					div(class="markup_ markup_type_inline", ng-repeat="markup in objects_sections.global_all")
							.cols-edit(ng-include="fragments['markup_editor'][0].url" )

				// title, author, date, ..
				div(ng-if="(layout.name== 'center') && ($parent.$first) ")
						div.doc_header
							// span.secret {{ui.secret}}
							
							div(ng-if="ui.renderAvailable_active == 'editor'")
								h1(ng-bind-html="doc.room.name+'&nbsp;'", ng-dblclick="edit_doc('room_id')")
								input(ng-if="ui.editing_room_id",   ng-model="doc.room___id", name="doc.room___id")
								by {{doc.room.owner}}
							h3(ng-bind-html="doc_options.doc_notices_before_title.value +'&nbsp;'", class="editing_{{ui.editing_doc_notices_before_title}}" , ng-dblclick="edit_doc_option('doc_notices_before_title')") {{}} &nbsp;
							input(ng-if="ui.editing_doc_notices_before_title",   ng-model="doc_options.doc_notices_before_title.value", name="doc_options.doc_notices_before_title.value")

							h1(ng-bind-html="doc.title+'&nbsp;'", ng-dblclick="edit_doc('title')")
							input(ng-if="ui.editing_title",   ng-model="doc.title", name="doc.title")
							
							h3(class="editing_{{ui.editing_doc_notices_after_title}}" , ng-dblclick="edit_doc_option('doc_notices_after_title')") {{doc_options.doc_notices_after_title.value}} &nbsp;
							input(ng-if="ui.editing_doc_notices_after_title",   ng-model="doc_options.doc_notices_after_title.value", name="doc_options.doc_notices_after_title.value")


							time(ng-bind="doc.formated_date", ng-click="" ) 
							.cols-edit(ng-include="fragments['author_card'][0].url" )


							div.doc_option_menu(ng-if="ui.renderAvailable_active == 'editor'")
								p {{doc.excerpt}}
								p {{doc.updated}} 
								ul(ng-repeat="opt in doc.doc_options")
									li {{opt.option_name}} {{doc_options[opt.option_name].value}}
										input(name="doc_options[opt.option_name]", type="text", ng-model="doc_options[opt.option_name].value")
										i.fa.fa-save(ng-click="saveDm(opt.option_name)")
										i.fa.fa-remove(ng-click="deleteDm(opt.option_name)")  

								i.fa.fa-plus(ng-click='newDm()') new key/value field


				div(ng-if="layout.include_objects !==false")

					


					div(ng-if="layout.name == 'right'")
						.cols-edit(ng-include="fragments['section_editor'][0].url" )
					

					div(ng-if="layout.name == 'right'")
						
						div(class="markup_ container_class_type_inline", ng-if="ui.renderAvailable_active == 'lire'" , ng-repeat="markup in section.objects['container_class']['inline']")
							.cols-edit(ng-include="fragments['markup_editor'][0].url" )

						
						div(class="markup_ markup_type_inline", ng-if="ui.renderAvailable_active == 'editor'" , ng-repeat="markup in section.objects['markup']['inline']")
							.cols-edit(ng-include="fragments['markup_editor'][0].url" )


					div(ng-if="layout.name == 'left'")
						.cols-edit(ng-include="fragments['markup_push'][0].url" )

						


					div(ng-repeat='object in available_sections_objects')

						div(class="markup_ markup_type_{{markup.type}}" ng-repeat="markup in section.objects[object][layout.name]")
							.cols-edit(ng-include="fragments['markup_editor'][0].url" )
				

				// div(ng-if="(doc.slug !=='about' && layout.name== 'global') && ($parent.$last) " , ng-include="fragments['ad_welcome'][0].url")

				


				// to stay on same indent level
				div
					div(ng-if="layout.name == 'inline'")
						// p {{section.start}} {{section.end}}
						// p {{ui.selected_range.start}} - {{ui.selected_range.end}} 
						// div
							input(type="text", ng-model="inserttext[$parent.$parent.$index]")

						div.editor_zone(ng-if="ui.renderAvailable_active == 'editor'" )
							textarea(type="text", ng-model="doc.content")
							p (markup positions will be lost)
							a.btn_ok.float_right(ng-click="edit_doc('content')") save
								
						div(ng-click="click_text()")
							span(ng-mousedown="over(l, 'down')", ng-mouseup="over(l, 'up')", ng-class="l.classes", ng-click="over(l, 'click')" , ng-dblclick="switch_editing(l)", data-order="{{$index}}", ng-repeat="l in letters[$parent.$parent.$index]") {{l.char}}
		

		footer(ng-if="$last")
			p(ng-bind-html="doc_options.footer_center_html.value +'&nbsp;'", class="editing_{{ui.editing_footer_center_html}}" , ng-dblclick="edit_doc_option('footer_center_html')") {{}} &nbsp;
			input(ng-if="ui.editing_footer_center_html",   ng-model="doc_options.footer_center_html.value", name="doc_options.footer_center_html.value")

			// a(href="/doc/{{doc.title}}") permalink
			// a(href="/") back home