block body
  .renders_toggler
    span(class="slide_render  slide_{{render_layout_next}}") 
     a(ng-click="slide_render_layout()", title="{{render_layout_next}} ") {{render_layout_next}} 
      // &raquo;{{render_layout_next}}

  .branding(ng-include="fragments['branding'][0].url", ng-hide="render_layout=='iframe'")
  .before_doc(ng-include="fragments['before_doc'][0].url" )

  .twelve(ng-if="render_layout=='logs'"   , ng-include="fragments['logs'][0].url")
  .twelve(ng-if="doc.renderas == 'media'" , ng-include="fragments['media'][0].url")

  .dataset(ng-include="fragments['dataset'][0].url" , ng-if="(render_layout=='dataset' || render_layout=='fragments' ) ")
     
  .thesections.mt( ng-if="render_layout !=='logs'", class="kind_of_doc_{{doc.kind}} rlayout_{{render_layout.name}} {{cur_sel.editorsmodes}}  doc_id_{{doc.id}} styleclass_{{docmetas.text_class}}  styleheadings_{{docmetas.headings_typo}} styletext_{{docmetas.text_typo}}")
  
   section(ng-controller="SectionCtrl", ng-class="objects_sections[$index].classes", ng-repeat='sorted_section in sorted_sections track by $index',  ng-style="section_styles_string([$index])" ,  id="section_from_{{sorted_section.start}}_to_{{sorted_section.end}}", class="section_is_current-{{sorted_section.is_current}} select-{{sorted_section.state}} section_selected_{{isselected}}  section_mode_{{sorted_section.mode}} section_subtype_{{sorted_section.subtype}}", ng-mouseenter="sectionenter($index)")
    
    .cols-wide(ng-include="fragments['col_generic_wide'][0].url" )
    
    .twelve.columns.npadr.npadl
     .three.columns
     .six.columns.npadr.npadl
      .cols-center(ng-include="fragments['col_generic_center'][0].url" )
     .three.columns

    .titles(ng-if="$parent.$index == 0" , ng-include="fragments['titles'][0].url" )

    // ON THE LEFT OF TEXT
    .cols-left(ng-include="fragments['col_generic_left'][0].url" )

    // MAIN TEXT ZONE
    .mainzone(ng-include="fragments['main_d'][0].url" )
   
    // ON THE RIGHT OF TEXT
    .cols-right(ng-include="fragments['col_generic_right'][0].url" )


    //.twelve.columns.section_tools_lab(ng-if="(render_layout=='sections')", ng-include="fragments['section_tool_lab'][0].url")
    //.twelve.columns.section_tools(ng-if="(render_layout=='sections')", ng-include="fragments['section_tool'][0].url")


    .twelve.columns
     .three.columns
     .six.columns.npadr.npadl
      .cols-under(ng-include="fragments['col_generic_under'][0].url" )
      .cols-global(ng-if="$parent.$last == true" , ng-include="fragments['col_generic_global'][0].url" )


      .twelve.nav-box(ng-if="$last && (docmetas.prevdoc_link || docmetas.nextdoc_link) ", ng-class="docmetas.nav_class")
       a.nav-boxprev(href="{{docmetas.prevdoc_link}}", ng-bind-html="docmetas.prevdoc_notice")
       a.nav-boxnext(href="{{docmetas.nextdoc_link}}", ng-bind-html="docmetas.nextdoc_notice")
    

     .three.columns

     .twelve.columns.bottom_editor(ng-if="$last && (render_layout=='editor')" , ng-include="fragments['bottom_editor'][0].url")
  div.fixed_bar    
    div.msgflash(ng-repeat="msg in msgflash")
         span.msg {{msg.text}}
    div.msglog(ng-repeat="log in msglog")
         span.log {{log.text}}

    form#dockeyform(ng-if="(dockeys['needed'] =='true' && (dockeys['valid'] =='false' || dockeys['valid'] =='' ))")

      //div 
        p {{ilc[p_lang]['post_comment_by']}}
         input(type="text",  ng-model="comment_model['comment_name']") 
        p {{ilc[p_lang]['post_email']}}
         input(type="text", ng-model="comment_model['comment_mail']") 
      p 
       i.icon-lock 
        &nbsp; Doc secret key 
       input(ng-model="dockeys['key']") 
       a.btn(ng-click="check_dockey()") ok
     
  .doc-footer.twelve.columns(ng-if="docmetas.footer_center_html", ng-include="fragments['doc_footer'][0].url")
   
// .row(ng-include="fragments['page_footer'][0].url" )
// .row()