div(class="branding sc bg_white")
	h1
		a(href="/#!", title="") 
			span #{locals.site_title}
div.main_center.newdoc_form.bordered
	form
		
		p
			//label {{i18n.CUSTOM.DOCUMENT.default_title}}
		
			input(ng-model="newdoc.raw_title", ng-value="newdoc.title") 
		
		p
			// label {{i18n.CUSTOM.DOCUMENT.default_content}}
		
			textarea(ng-model="newdoc.raw_content" )
		
		p 
			a.btn_ok.float_right(ng-click="create_doc()") create !  

		p(ng-if="newdoc.created_link") 
			span your new document:
				a(href="#{root_url}/doc/{{newdoc.created_link}}")  {{newdoc.created_link_title}}

