div(class="sections_container")
	div.quick_tools.debug-only
		a(ng-click="push_markup()") 
			i.icon-move
		a(ng-click="push_section()") push markup_section
		a(ng-click="offset_markups()") offset_markups
	h1.debug-only {{sectionstocount}}
	div.debug-only.user_in()
		p 
			em welcome
			em 
				a(href="/me/account")
					{{userin.username}}

		img(ng-src="{{userin.image_url}}")
	div.user_not_in(ng-if="userin.username == '' ")
		a(ng-click="external_link(root_url+'/auth/facebook')" , ng-if="userin.username == '' ") log in with facebook

	section(ng-repeat='section in containers')
		div(ng-repeat='layout in available_layouts')
			div(class="layout_ layout_name_{{layout.name}} has_count_{{section.objects_count.by_positions[layout.name].count}} has_object_{{section.objects_count.by_positions[layout.name].has_object}}")
				// span {{layout.name}}
				// h3 {{section.objects_count.by_positions[layout.name].count}}
				div(ng-if=" (layout.name== 'wide') && ($parent.$index ==0) ")
					h1 {{doc.title}}
				div(ng-if="layout.include_objects !==false")
					div(ng-if="layout.name == 'right'")
						.cols-edit(ng-include="fragments['section_editor'][0].url" )

					div(ng-if="layout.name == 'left'")
						.cols-edit(ng-include="fragments['markup_push'][0].url" )

						div(class="markup_ markup_type_inline", ng-repeat="markup in section.objects['markup']['inline']")
							.cols-edit(ng-include="fragments['markup_editor'][0].url" )

						



					div(ng-repeat='object in available_sections_objects')

						div(class="markup_ markup_type_{{markup.type}}" ng-repeat="markup in section.objects[object][layout.name]")
							.cols-edit(ng-include="fragments['markup_editor'][0].url" )
				// to stay on same indent level
				div
					div(ng-if="layout.name == 'inline'")
						div
							input(type="text", ng-model="inserttext[$parent.$parent.$index]")
						div
							span(ng-class="l.classes", ng-click="click_letter(l)" ng-dblclick="switch_editing(l)", data-order="{{$index}}" ng-repeat="l in letters[$parent.$parent.$index]") {{l.char}}


footer.debug-only
	p
	a(href="/doc/{{doc.title}}") permalink
	a(href="/") back home