//- index.jade
doctype html
html
  include ./header.jade
  body
    h1 Login.. 
    form(action="/login" ,method="post")
     input(type="text" ,name="username", value="admin")
     input(type="text" ,name="password" , value="")
     input(type="submit" ,value="Submit")