div(class="branding sc bg_white")
	h1
		a(href="/#!", title="") 
			span #{locals.site_title}
div.main_center.register_form.bordered
	h3 {{i18n.CUSTOM.USER.register}}
	form(novalidate class="css-form")
		p {{errors}}
	
		label Pick username
		input(type="text", ng-model="username")

		label email
		input(type="text", ng-model="email"  )
		


		label Pick password
		input(type="password", ng-model="password", )
		
		a.btn_ok.float_right(ng-click="checkregister()") ok


		p 
			a(href="/me/account") {{success}}