div(class="branding sc bg_white")
	h1
		a(href="/#!", title="") 
			span #{locals.site_title}
div.main_center.register_form.bordered
	h3 {{i18n.CUSTOM.USER.register}}
	form(novalidate class="css-form")
		p {{errors}}
	
		label {{i18n.CUSTOM.USER.pick_username}} 
		input(type="text", ng-model="username")

		label {{i18n.CUSTOM.USER.pick_email}} 
		input(type="text", ng-model="email"  )
		
		label {{i18n.CUSTOM.USER.pick_password}} 
		input(type="password", ng-model="password", )
		
		a.btn_ok.float_right(ng-click="checkregister()") {{i18n.CUSTOM.USER.register}}


		p 
			a(href="/me/account") {{success}}