div(class="branding sc bg_white")
	h1
		a(href="/#!", title="") 
			span #{locals.site_title}

div.main_center.user_account.bordered
	
	span.color_avatar(style="background-color:{{user_options['color'].value}}")
	p Username : {{me.username}}

	// p {{me}}
	// p {{user_options}}
	p mail : {{me.email}} (hidden from public)


	p 
		img(ng-src="{{me.image_url}}")
	p 
		a(href="/doc/create") Create a new doc

	p 
		
		a(ng-click="external_link(root_url+'/signout')") Log out
		i.fa.fa-sign-out 
	h3 Options
	ul 
		li You are an admin ? {{me.is_admin}}
		li You are an editor ? {{me.is_editor}}
		li subscribed to newsletter ? {{me.newsletter}}
			

	ul(ng-repeat="option in me.user_options")
		li 
			{{option.option_name}} : {{option.option_value}}
	h3 Documents :
	ul
		li(ng-repeat="doc in documents")
			a(href="/doc/{{doc.slug}}") {{doc.slug}} 
			span
				{{doc.published}} • {{doc.slug}} • {{doc.roomname}} 
				span
					a(href="", ng-click="external_link('/doc/'+doc.slug+'?secret='+doc.secret) " ) [secret/free edit link]  •
					a(href="", ng-click="external_link('/api/v1/doc/'+doc.slug) " ) [api]  •
					a.delete_document(href="", ng-click="delete_document(doc) " ) [delete document]


footer
	p 2014 - MusicBox