div(class="branding sc bg_white")
	h1
		a(href="/#!", title="") 
			span #{locals.site_title}

div.main_center.user_account.bordered
	
	span.color_avatar(style="background-color:{{user_options['color'].value}}")
	p Username : {{me.username}}

	// p {{me}}
	// p {{user_options}}
	p mail : {{me.email}} (hidden from public)


	p 
		img(ng-src="{{me.image_url}}")
	p 
		a(href="/doc/create") Create a new doc

	p 
		
		a(ng-click="external_link(root_url+'/signout')") Log out
		i.fa.fa-sign-out 
	h3 Options
	ul 
		li You are an admin ? {{me.is_admin}}
		li You are an editor ? {{me.is_editor}}
		li subscribed to newsletter ? {{me.newsletter}}
			

	ul(ng-repeat="option in me.user_options")
		li 
			{{option.option_name}} : {{option.option_value}}
	h3 Mes documents :

	table.user_documents()
		thead
			tr
				th title
				th published
				th room
				th last upadted
				th 
		
		tbody
			tr(ng-repeat="doc in documents")
				td 
					a(href="/doc/{{doc.slug}}") {{doc.slug}} 
				td {{doc.published}}
				td {{doc.room.name}} 
				td {{doc.created | date }}
				
				td 
					i.fa.fa-cogs(href="", ng-click="external_link('/doc/'+doc.slug+'?mode=doc_options') " )
					i.fa.fa-edit(href="", ng-click="external_link('/doc/'+doc.slug+'?mode=editor') " )

					i.fa.fa-unlock(href="", ng-click="external_link('/doc/'+doc.slug+'?secret='+doc.secret) " )
					i.fa.fa-database(href="", ng-click="external_link('/api/v1/doc/'+doc.slug) " ) 
					// {{doc._id}}
				
				
					i.fa.fa-trash.delete_document(href="", ng-click="delete_document(doc) " )

	ul
		li(ng-repeat="doc in documents")
			// p {{doc}}
			// a(href="/doc/{{doc.slug}}") {{doc.slug}} 
			// span
				{{doc.published}} • {{doc.slug}} • 
footer
	p 2014 - MusicBox