div(class="branding sc bg_white")
	h1
		a(href="/#!", title="") 
			span #{locals.site_title}

div.main_center.user_account.bordered
	p {{me.username}}
	p mail : {{me.email}} (hidden from public)
	p 
		img(ng-src="{{me.image_url}}")
	p 
		a(href="/doc/create") Create a new doc

	p 
		
		a(ng-click="external_link(root_url+'/signout')") Log out
		i.fa.fa-sign-out 

	h3 Mes documents :
	ul(ng-repeat="doc in documents")
		li 
			a(href="/doc/{{doc.slug}}") {{doc.slug}} 
			span
				{{doc.published}} |	{{doc.slug}} • {{doc.roomname}} 
				a(href="", ng-click="external_link('/api/v1/doc/'+doc.slug) " ) [api]

footer
	p /-)