


body.plnt {
    background-color: #000000;
    background-image: -moz-linear-gradient(center top , #313131 0%, #FFFFFF 7%);
   /*opacity: .8;
    transition: opacity 1s linear 2s;
    */

}


body.plnt:hover {
    /*background-image: -moz-linear-gradient(center top , #313131 1%, #FFFFFF 11%);

    opacity: 1;
    transition: opacity 1s linear 2s;
    */

}

 body.plnt .bg_lighter {
    background-color: #000000;
    background-image: url("http://localhost:3000/img/plnt/sky.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;

}
 
 body.plnt  .bigtext_title {
    color: #FFFFFF;
    font-size: 112px;
    text-shadow: 4px 4px #000000;
}
#section_from_1901_to_2900 {
      background-color: #000000;
    background-image: url("http://localhost:3000/img/plnt/sky.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
#section_from_3601_to_3900 {
    background-image: -moz-linear-gradient(center bottom , #000000 61%, #FFFFFF 99%);
    color: #000000;
    min-height: 1900px;
    padding-top: 592px;
}

body.plnt .single-footer{
    display:none;
}


#section_from_3601_to_3900 .col-text{
opacity:.2;
color:#000;
transition: opacity 1s linear .2s, color 1s linear .2s;

}
#section_from_3601_to_3900 .col-text:hover{
opacity:1;
color:#fff;
transition: opacity 1s linear .2s, color 1s linear .2s;

}


.thesections #section_from_2901_to_3600 .twelve.column.img_left img{
	  width: 23%;
}





body.plnt section.has_image_left .six.columns.col-text:after,
body.plnt section.has_image_left .six.columns.col-text:before 
{
    border-bottom: 1px solid #000;
    content: url("/img/plnt/bubble_a-50.png");
    display: block;
    height: 21px;
   
    text-align: center;
    width: 100%;


}

body.plnt section.has_image_left .six.columns.col-text:before {
   margin-bottom: 46px;
}
body.plnt section.has_image_left .six.columns.col-text:after {
     margin-top: 46px;
  

}
body.plnt section.has_image_left .six.columns.col-text:hover:after {
    text-align: right;
}
body.plnt section.has_image_left .six.columns.col-text:hover:before {
    text-align: left;
}


.perfect{
    background-image: url("http://farm3.staticflickr.com/2894/9704139814_f3e01c9c52_c.jpg");
    min-height: 396px;
    padding: 20px;

}

a.media_licence_link{margin-left:10px;}

/*
#section_from_1901_to_2900 .three.columns.col-left {
    background: url("http://localhost:3000/img/plnt/sky.png") repeat scroll 0 0 transparent;
    min-height: 324px;

     -webkit-animation:spin 30s linear infinite;
    -moz-animation:spin 30s linear infinite;
    animation:spin 30s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

*/

.doc_id_6 section {
     background: none repeat scroll 0 0 #FF0000;
}
.doc_id_6 section .col-left-img-centered, .doc_id_6 section .columns {
      border: 1px solid #000000;
      min-height:200px;
}

.mt.doc_id_6  span.doc_notices_after_title {display:none;}
    
.doc_id_6 h1.bigtext_title {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    display: inline;
    height: 66px;
    left: -236px;
    padding: 8px 10px;
    position: fixed;
    top: 149px;
    transform: rotate(-90deg);
    width: 538px;
}
.mt.doc_id_6 span:nth-child(0)   {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    display: block;
    font-size: 230px;
    height: 200px;
    left: 23%;
    line-height: 173px;
    padding: 10px;
    position: absolute;
    top: 230px;
}
.mt.doc_id_6 span:nth-child(2)   {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    display: block;
    font-size: 230px;
    height: 200px;
    left: 63%;
    line-height: 173px;
    padding: 10px;
    position: absolute;
    top: 430px;
}

.doc_id_6 h2.bigtext_title {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    display: inline;
    height: 58px;
    left: -153px;
    padding: 8px 10px 8px 85px;
    position: fixed;
    top: 256px;
    transform: rotate(-90deg);
    width: 495px;
}

.doc_id_6 .column, .doc_id_6 .columns {
  
    position: inherit;
}

.doc_notices_before_title{padding-top:20px;}