
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz 
*.DS_Store
pids
logs
results
tests
dist/

.grunt/
_SpecRunner.html

config.json
config_kimi.json
public/uploads/
public/documentation/sources
npm-debug.log
node_modules
start.sh
compressor_CSS.sh
compressor_JS.sh

README.md
public/img/
bower_components/
public/bower_components/