
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz 
*.DS_Store
pids
logs
results
tests

config.json
config_kimi.json
public/uploads/
public/documentation/sources
npm-debug.log
node_modules
start.sh
compressor_CSS.sh
compressor_JS.sh

README.md
public/img/