
<!-- editor for markup object-->
<!-- can be in any position of the layout depending markup position-->
<h5>{{render_config.i18n.CUSTOM.ACTIONS.edit}} {{markup.type}}</h5>
<form name="myForm">
  <!-- tabs-->
  <!-- ranges-->
  <tabset justified="true" class="editor-main-tab">
    <!-- vertical="true" type="pills"-->
    <!-- metadata-->
    <!-- type-->
    <!-- subtype-->
    <!-- position-->
    <tab heading="Edit {{markup.objSchemas.modes.editor.tabs.metadata}}" ng-if="markup.objSchemas.modes.editor.tabs.metadata"><span ng-if="markup.objSchemas.modes.editor.fields.metadata.input" class="field mt_input mt_input_type_{{markup.type}} mt_input_subtype_{{markup.subtype}}"> 
        <label>{{markup.objSchemas.modes.editor.fields.metadata.label}}</label>
        <input ng-if="markup.objSchemas.modes.editor.fields.metadata.input =='text'" ng-model="markup.metadata" type="text"/>
        <textarea ng-if="markup.objSchemas.modes.editor.fields.metadata.input =='textarea'" ng-model="markup.metadata"></textarea><span ng-if="markup.objSchemas.modes.editor.fields.metadata.input =='select'"><span ng-repeat="t in markup.objSchemas.modes.editor.fields.metadata.available" ng-click="change_value('metadata',t, true)" ng-class="{ 'selected' : markup.metadata == t,}">{{t}}</span></span></span><span ng-if="markup.type == 'media' " class="field uploader">
        <input onchange="angular.element(this).scope().preuploadFile(this.files)" type="file"/><a ng-click="uploadFile()">send</a>
        <!-- img(ng-if="upload_file_image.uploaded == true", ng-src="{{upload_file_image.fullpath}}")-->
        </span></tab>
    <tab ng-if="markup.objSchemas.modes.editor.tabs.type" heading="{{markup.objSchemas.modes.editor.tabs.type}}"> <span class="field typer">
        <label class="label_type">{{render_config.i18n.CUSTOM.ACTIONS.select}} type</label>
        <ul class="typer">
          <li ng-repeat="t in available_sections_objects"><span>{{objSchemas[t].display_name}}</span><i ng-class="{ 'selected' : markup.type == t}" ng-click="change_value('type',t, true)" class="fa btn_action fa-{{t}}"> </i></li>
        </ul></span></tab>
    <tab ng-if="markup.objSchemas.modes.editor.tabs.subtype" heading="{{markup.objSchemas.modes.editor.tabs.subtype}}">	<span class="field typer sub">
        <label class="label_type">{{render_config.i18n.CUSTOM.ACTIONS.select}} subtype</label>
        <!-- div(ng-if="markup.objSchemas.subtype.free_input")
        label Set sub-type
        input(ng-model="markup.subtype" , type="text")
        -->
        <ul class="typer sub">
          <li ng-repeat="t in markup.objSchemas.modes.editor.fields.subtype.available"><span>{{t}}</span><i ng-class="{ 'selected' : markup.subtype == t,}" ng-click="change_value('subtype', t, true)" class="fa btn_action fa-{{t}}"> </i></li>
        </ul></span></tab>
    <tab heading="{{markup.objSchemas.modes.editor.tabs.position}}" ng-if="markup.objSchemas.modes.editor.tabs.position"> <span class="field positions">
        <label>{{render_config.i18n.CUSTOM.ACTIONS.select}} position</label>
        <!-- h2 {{render_config.i18n.CUSTOM.POSITIONS[markup.position]}}-->
        <div class="btn-group typer.position">
          <label ng-repeat="t in markup.objSchemas.positions.available" ng-click="change_value('position', t, true)" ng-model="markup.position" btn-radio="t" class="btn btn-primary">{{render_config.i18n.CUSTOM.POSITIONS[t]}}</label>
        </div></span></tab>
    <tab heading="O.">
      <pre>{{markup.operation}}</pre>
      <ul>
        <li ng-repeat="op in markup.operations track by op.grp">{{op}}</li>
      </ul>
    </tab>
  </tabset>
  <div ng-if="markup.type =='child' " class="object-tools">					<span class="field smallinput">
      <label>sub-doc id</label>
      <input ng-model="markup.doc_id_id" type="text"/></span></div>
  <div ng-if="markup.objSchemas.modes.editor.fields.ranges.display" class="object-tools">
    <!-- tab(heading="ranges" ) 			-->
    <label>set start-end ranges</label><span class="field ranges"><span class="ranges_inputs"><span class="field numberfloat _start">
          <label>start</label>
          <input required="required" type="number" ng-model="markup.start"/></span><span class="field numberfloat number _end">
          <label>end</label>
          <input required="required" type="number" ng-model="markup.end"/></span></span><span class="ranges_tools"><i title="re-match ranges from active selection" ng-click="match_selection(markup)" class="fa fa-text-width match_selection"> </i></span></span>
  </div>
  <div ng-if="doc_owner" class="object-tools">
    <label>Moderation / status</label><i style="color:green" ng-if="markup.status == 'pending' " ng-click="change_value('status','approved', true)" class="fa fa-flag btn_action">set as approved</i><i style="color:red" ng-if="markup.status == 'approved' " ng-click="change_value('status','pending', true)" class="fa fa-flag btn_action">set as pending	</i>
  </div>
  <div ng-if="markup.object_tools" class="object-tools object-tools_more">
    <label> depth</label>
    <input ng-model="markup.depth" type="text"/>
    <h6>{{markup.fulltext}}</h6>
    <label> reverse text</label>
    <input ng-model="markup.fulltext" type="text"/>
  </div>
  <div class="object-tools"><i tooltip-placement="right" tooltip="{{render_config.i18n.CUSTOM.ACTIONS.more_options}}" ng-click="toggle_attribute('object_tools')" class="fa fa-sliders btn_action"></i><i tooltip-placement="right" tooltip="{{render_config.i18n.CUSTOM.ACTIONS.save}}" ng-click="save()" class="fa fa-save btn_action"></i>
    <!-- ng-if="markup.touched == true"--><i tooltip-placement="left" tooltip="{{render_config.i18n.CUSTOM.ACTIONS.delete}}" ng-click="delete()" class="fa fa-remove btn_action"></i>
  </div>
</form>