// editor for markup object
// can be in any position of the layout depending markup position
h5 {{render_config.i18n.CUSTOM.ACTIONS.edit}} {{markup.type}}
form(name="myForm")


	// tabs
	// ranges
	tabset.editor-main-tab(justified="true")
		// vertical="true" type="pills"
		// metadata
		// type
		// subtype
		// position

		tab(heading="Edit {{markup.objSchemas.modes.editor.tabs.metadata}}" ng-if="markup.objSchemas.modes.editor.tabs.metadata")

			span.field.mt_input(class="mt_input_type_{{markup.type}} mt_input_subtype_{{markup.subtype}}", ng-if="markup.objSchemas.modes.editor.fields.metadata.input") 
				label {{markup.objSchemas.modes.editor.fields.metadata.label}}

				input(ng-if="markup.objSchemas.modes.editor.fields.metadata.input =='text'", ng-model="markup.metadata", type="text")
				
				textarea(ng-if="markup.objSchemas.modes.editor.fields.metadata.input =='textarea'" , ng-model="markup.metadata")

				span(ng-if="markup.objSchemas.modes.editor.fields.metadata.input =='select'")
					span(ng-repeat="t in markup.objSchemas.modes.editor.fields.metadata.available" ng-click="change_value('metadata',t, true)" ng-class="{ 'selected' : markup.metadata == t,}" ) {{t}}
						
			span.field.uploader(ng-if="markup.type == 'media' ")
				input(onchange="angular.element(this).scope().preuploadFile(this.files)", type="file")
				a(ng-click="uploadFile()" ) send
				// img(ng-if="upload_file_image.uploaded == true", ng-src="{{upload_file_image.fullpath}}")


		tab(ng-if="markup.objSchemas.modes.editor.tabs.type"    heading="{{markup.objSchemas.modes.editor.tabs.type}}") 
			span.field.typer
				label.label_type {{render_config.i18n.CUSTOM.ACTIONS.select}} type
				ul.typer
					li(ng-repeat="t in available_sections_objects")
						span {{objSchemas[t].display_name}}
						i.fa.btn_action(ng-class="{ 'selected' : markup.type == t}" , class="fa-{{t}}" , ng-click="change_value('type',t, true)") 
		
		tab(ng-if="markup.objSchemas.modes.editor.tabs.subtype"    heading="{{markup.objSchemas.modes.editor.tabs.subtype}}") 	
					
			span.field.typer.sub
				label.label_type {{render_config.i18n.CUSTOM.ACTIONS.select}} subtype
				// div(ng-if="markup.objSchemas.subtype.free_input")
					label Set sub-type
					input(ng-model="markup.subtype" , type="text")
				ul.typer.sub
					li(ng-repeat="t in markup.objSchemas.modes.editor.fields.subtype.available")
						span {{t}}
						i.fa.btn_action(ng-class="{ 'selected' : markup.subtype == t,}" , class="fa-{{t}}" , ng-click="change_value('subtype', t, true)") 
				
		tab(heading="{{markup.objSchemas.modes.editor.tabs.position}}" ng-if="markup.objSchemas.modes.editor.tabs.position") 
			
			span.field.positions
				
				label {{render_config.i18n.CUSTOM.ACTIONS.select}} position
				// h2 {{render_config.i18n.CUSTOM.POSITIONS[markup.position]}}
				div(class="btn-group typer.position")
					label(ng-repeat="t in markup.objSchemas.positions.available" class="btn btn-primary" ng-click="change_value('position', t, true)" , ng-model="markup.position" btn-radio="t")
							{{render_config.i18n.CUSTOM.POSITIONS[t]}}
		tab(heading="O.")
			pre {{markup.operation}}
			ul
				li(ng-repeat="op in markup.operations") {{op}}
	
	.object-tools(ng-if="markup.type =='child' ")					
		span.field.smallinput()
			label sub-doc id
			input(ng-model="markup.doc_id_id" , type="text")

	.object-tools(ng-if="markup.objSchemas.modes.editor.fields.ranges.display")
		// tab(heading="ranges" ) 			
		label set start-end ranges
		span.field.ranges
			span.ranges_inputs
				span.field.numberfloat._start
					label start
					input(required   type="number" , ng-model="markup.start" )

				span.field.numberfloat.number._end
					label end
					input(required  type="number" , ng-model="markup.end" )
			span.ranges_tools
				i.fa.fa-text-width.match_selection(title="re-match ranges from active selection", ng-click="match_selection(markup)" ) 
			
	.object-tools(ng-if="doc_owner")
		label Moderation / status

		i.fa.fa-flag.btn_action(style="color:green" ng-if="markup.status == 'pending' " ng-click="change_value('status','approved', true)") set as approved
		i.fa.fa-flag.btn_action(style="color:red"  ng-if="markup.status == 'approved' " ng-click="change_value('status','pending', true)") set as pending	
	
	.object-tools.object-tools_more(ng-if="markup.object_tools")
			label  depth
			input( ng-model="markup.depth" type="text" )
			h6 {{markup.fulltext}}
			label  reverse text
			input(ng-model="markup.fulltext" type="text" )

	.object-tools
		i.fa.fa-sliders.btn_action(tooltip-placement="right" tooltip="{{render_config.i18n.CUSTOM.ACTIONS.more_options}}" ng-click="toggle_attribute('object_tools')")
		i.fa.fa-save.btn_action( tooltip-placement="right" tooltip="{{render_config.i18n.CUSTOM.ACTIONS.save}}" ng-click="save()")

		// ng-if="markup.touched == true"

		
		i.fa.fa-remove.btn_action(tooltip-placement="left" tooltip="{{render_config.i18n.CUSTOM.ACTIONS.delete}}" ng-click="delete()")