div(ng-controller="MarkupCtrl", class="markup_box markup_box_depth_{{markup.depth}} markup_box_status_{{markup.status}}   markup_displayer_ markup_displayer markup_displayer_{{markup.type}} markup_displayer_subtype_{{markup.subtype}}  by_me_{{markup.by_me}} is_editing_{{markup.editing}}  touchedmk-{{markup.touched}} ")
	
	markup-editor(class="markup_editor markup_editor_{{markup.type}}", ng-if="markup.editing == true")
	

	// h4 even not visible {{markup.visible}} {{markup.type}}
	// h3 mtda : {{markup.metadata}}
	// h3 inrange / selected : {{markup.inrange}} - {{markup.selected}}
	// p {{markup.selected}}
	// p {{markup.inrange}}
	// pre is:{{markup.isolated}}
	// h3 markup.objSchemas : {{markup.objSchemas}}
	// pre {{markup}}
	.fast_editor(ng-if="markup.fast_editor")
		span.flag()
			i.fa.fa-remove.btn_action(tooltip-placement="left" tooltip="{{render_config.i18n.CUSTOM.ACTIONS.delete}}" ng-click="delete()")
	

	// h6(ng-bind-html="markup.fulltext")
	


	//div
		label  reverse text
		input(ng-model="markup.fulltext" type="text" )
		a(ng-click="apply_reverse()") reverse_apply


	div.mk_inside_visible(ng-if="(markup.visible && !markup.forced) || (markup.visible && markup.forced && ui.renderAvailable_active== 'editor')")
		// a(ng-click="offset(1,1)") offset me
		// a(ng-click="match_selection()") match selection
		// h1 isol ? {{markup.isolated}}
		// m current: {{markup.start}} - {{markup.end}} 
		//em {{markup}}
		// debug 
		// span 
			p {{markup.start}} - {{markup.end}} - {{markup.metadata}} - {{markup.type}} - {{markup.subtype}} {{markup.position}}
			// p {{markup.selected}}
			p m.by_me: {{markup.by_me}}
			p m.can_approve  {{markup.can_approve}}
			// p doc_owner: {{doc_owner}}
			p status: {{markup.status}}
			p m.visible :{{markup.visible}}
			// p {{objSchemas['comment'].modes.read.enabled}}
			// p {{objSchemas['comment'].modes.read}}
			// p {{markup.objSchemas.modes.read}}
			p forced : {{markup.forced}}

		div(class="iframe_container iframe_{{markup.subtype}}", fluid, position="{{markup.position}}", subtype="{{markup.subtype}}", url="{{markup.metadata}}",  ng-if="markup.type=='media' && markup.subtype !=='img'")
			
		img.mk_img(ng-if="markup.subtype=='img'" , data-tdid="{{markup.id}}", ng-src="{{markup.metadata}}")


		span.icon_col.use_depth(ng-hide="markup.type== 'child'")
			i(tooltip-placement="right" tooltip="{{render_config.i18n.CUSTOM.ACTIONS.select_edit}}" class="fa fa-{{markup.type}} fa-{{markup.subtype}} editing_{{markup.editing}} selected_{{markup.selected}}",  ng-click="toggle_select_markup('click')", ng-dblclick="toggle_select_markup( 'dblclick')"  ) 
				span(ng-if="markup.type=='generic'") {{markup.subtype[0]}}
			// span select

		// span.icon_col.use_depth(ng-if="markup.type== 'container'")
			i(tooltip-placement="right" tooltip="{{render_config.i18n.CUSTOM.ACTIONS.select_edit}}" class="fa fa-{{markup.type}} fa-{{markup.subtype}} editing_{{markup.editing}} selected_{{markup.selected}}",  ng-click="select_section()"  ) Select section # {{markup.sectionin}}
		div.data_col

			span.mk_val.metadata.use_depth(ng-bind-html="markup.metadata",  ng-if="(markup.objSchemas.modes.read.display.metadata.displayed =='metadata')  ") 

			input(ng-if="markup.editing ==true && markup.type =='markup'" , ng-model="markup.metadata", type="text" )

			span.mk_val.subtype.use_depth(class="mk_val_subtype_{{markup.subtype}}", ng-if="markup.objSchemas.modes.read.display.metadata.displayed =='subtype'")  {{markup.subtype}} 

			// date and user fields 
			span.mk_val.mk_metas.use_depth
				span.mk_val.created(ng-if="markup.objSchemas.modes.read.display.date") {{markup.created | date }} 
				span.mk_val.mk_username( style="color:{{markup.user_options['color'].value}}", ng-if="markup.objSchemas.modes.read.display.user") 
					{{markup.username}}
			
			
			// .fast_editor
				span.flag(ng-if="markup.status !== 'approved'")
					i.fa.fa-flag.pending(tooltip="only visible by you and doc owner" ng-click="markup.editing = true")

					i.fa.fa-remove.btn_action(tooltip-placement="left" tooltip="{{render_config.i18n.CUSTOM.ACTIONS.delete}}" ng-click="delete()")


			span(ng-include="fragments['child_markup'][0].url", ng-if="markup.type == 'child' ")
		

