doctype
html(class="is_home_{{ui.is_home}} is_single_{{ui.is_single}} doc_id_{{doc._id}} doc_slug_{{doc.slug}}", ng-app="musicBox", xmlns="http://www.w3.org/1999/xhtml")
	
	include header.jade
	
	body(class="render_active_{{ui.renderAvailable_active}} text_typography_{{doc_options.text_typography.fixed}} headings_typography_{{doc_options.headings_typography.fixed}}")
		div( ng-view, autoscroll="true")