doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
	head
	body()
		h3 Signup
		
		form(action="/login" , method="post")
			label 
				Username
			input(type="text", name="username")
			label 
				Password
			input(type="password", name="password")
			
			input(type="submit", value="Submit")