@sel-green: #1abc9c;
@important-color:#c0392b;
@marker:#e67e22;
@green:#16a085;

p{margin:0;}

.lt.h1 {
    font-size: 44px;
}

.lt.h2 {
    font-size: 37px;
}

.lt.h3 {
    font-size: 27px;
}

.lt.h4 {
    font-size: 23px;
}

.lt.h5 {
    font-size: 17px;
}

.lt.h6 {
    font-size: 14px;
}

.lt.strong{
     font-weight:bold;
}

.lt.strike, .lt.del{
    text-decoration: line-through;
}  

.lt.important  {
  background: @important-color;
  opacity: 0.75;
}

.lt.mark {
    background:@marker;
    &.fi{
        padding: 0 0 0 5px;
    }
    &.nd{
        padding: 0 5px 0 0;
    }
}

.lt.link{
    text-decoration: underline;
}  
.lt.em{
    font-style: italic
}



.lt.list-item{
    line-height:2em;
    &.nd:after  {
        clear: both;
        content: "";
        display: block;
        height: 1px;
        width: 1px;
    }
    &.fi{
      clear: both;
    }
    &.fi:before  {
        clear: none;
        content: "*";
        display: block;
        font-size: 21px;
        height: 0;
        line-height: 45px;
        margin-left: -10px;
        margin-top: -4px;
 
    }
}

.lt.cite, .lt.quote{
    background-color:#DADADA;
    color:#fff;     
     &.nd:after  {
        clear: both;
        content: "";
        display: block;
        height: 1px;
        width: 1px;
    }
    &.fi{
      clear: both;
    }
    &.fi:before  {
        clear: none;
        content: "\2022";
        display: block;
        font-size: 21px;
        height: 0;
        color:#000;
        line-height: 45px;
        margin-left: -10px;
        margin-top: -4px;
    }
    &.fi:after  {
        clear: none;
       content: "\0027";
        display: block;
        font-size: 21px;
        height: 0;
        color:#000;
        line-height: 45px;
        margin-left: -10px;
        margin-top: -4px; 
    }
}

.lt.code{
    background: none repeat scroll 0 0 #CFE6E1;
    color:@green;
    font-family: monospace;
    font-size: 1.3em;
    line-height: 1.3em;
    margin-top: 9px;
    padding-top: 0.3em;
}

.lt.selected{
    background:@sel-green
}

/*
.lt.fi, 
.lt.fi.selected{
    background:#2980b9
}

.lt.nd, 
.lt.nd.selected{
    background:#3498db
}
*/


//** transform span to block (line breaks before and after) */
/* fi : first*/
/*  */
.lt.h1.fi:before,.lt.h2.fi:before,.lt.h3.fi:before,.lt.h4.fi:before,.lt.h5.fi:before,.lt.h6.fi:before {
    clear: both;
    content: "";
    display: block;
    height: 1px;
    width: 1px;
}
.lt.h1.nd:after, .lt.h2.nd:after,.lt.h3.nd:after,.lt.h4.nd:after,.lt.h5.nd:after,.lt.h6.nd:after  {
    clear: both;
    content: "";
    display: block;
    height: 1px;
    width: 1px;
}

.fa-markup{}

.fa-h1:before, .fa-h2:before, .fa-h3:before, .fa-h4:before,.fa-h5:before, .fa-h6:before{
    content: "";   
}

.mk_val_subtype_h1, .mk_val_subtype_h2, .mk_val_subtype_h3, .mk_val_subtype_h4, .mk_val_subtype_h5, .mk_val_subtype_h6{
    text-transform:uppercase;
}

i.fa-comment:before {
    content: ""; 
}

i.fa.fa-remove{
    color:@important-color;
    font-size: 1.3em;
    padding: 2px 1% 2px 2px;
}

i.fa.fa-save {
    color: #27ae60;
    font-size: 1.3em;
    padding: 2px 1% 2px 2px;
}
i.fa.fa-sliders {
    color: #2980b9;
    font-size: 1.3em;
    padding: 2px 1% 2px 2px;
}



i.fa-em:before {
    content: "em";
    font-style:italic;
}

i.fa-strike:before {
    content: "s";
     text-decoration: line-through;   
}

i.fa-mark:before {
    content: "m";
    background:@marker;
     text-decoration: line-through;  
}

i.fa-strong:before {
    content: "b";
    display: block;
    font-weight:bold;
}

i.fa-cite:before {
    content: "q";  
}

i.fa-list-item:before {
    content: "list";
    display: block;
    font-weight:bold;
}

i.fa-container_class:before {
    content: "css";
    display: block;
    font-style:italic;
}

i.fa-note:before {
    content: "n";
    display: block;
    font-style:italic;
}

.lt.comment{
    background: none repeat scroll 0 0 rgba(39, 174, 96, 0.3);
    &.selected {
      background: none repeat scroll 0 0 rgba(39, 174, 96, 0.7);
    }
}

.layout_ i.fa-comment{
    background: none repeat scroll 0 0 rgba(39, 174, 96, 0.5);
    color: rgb(255, 255, 255);
    &.selected_true {
        background: none repeat scroll 0 0 rgba(39, 174, 96, 0.7);
         border:  2px solid  rgba(39, 174, 96, 0.9)
     
    }   
}

.lt.note{
    background: none repeat scroll 0 0 rgba(39, 174, 96, 0.3);
    &.selected {
      background: none repeat scroll 0 0 rgba(39, 174, 96, 0.7);
    }
}

.layout_ i.fa-note{
    background: none repeat scroll 0 0 rgba(39, 174, 96, 0.5);
    color: rgb(255, 255, 255);
    &.selected_true {
        background: none repeat scroll 0 0 rgba(39, 174, 96, 0.7);
         border:  2px solid  rgba(39, 174, 96, 0.9)
     
    }   
}




.lt.semantic{
    background: none repeat scroll 0 0 rgba(142, 68, 173, 0.4);
    &.selected {
     background: none repeat scroll 0 0 rgba(142, 68, 173,0.7);
    }
}
.layout_ i.fa-semantic {
    background: none repeat scroll 0 0 rgba(142, 68, 173,0.5);
    color: rgb(255, 255, 255);
    &.selected_true {
         background: none repeat scroll 0 0 rgba(142, 68, 173,0.7);
         border:  2px solid  rgba(142, 68, 173,0.9);
     
    }   
}
i.fa-semantic:before {
    content: "s";
    display: block;
    font-style:italic;
}



