

.column, .columns {/* min-height:20px; border: 1px solid #000; */ }


/* no padding */ 
.column.npadr, .columns.npadr, .column.npadlr, .columns.npadlr  {padding-right: 0;}
.column.npadl, .columns.npadl, .column.npadlr, .columns.npadlr  {padding-left: 0;}



/* for doc loading / fade Fx */
.loading_class_loads{}
.loading_class_loads.loading{}
.loading_class_loads.loaded{}


.loading_class_loads .thesections, 
.loading_class_loads .doc-footer,
.loading_class_loads .branding h1 a {
    opacity:0;
}
.loading_class_loads.loaded .thesections,
.loading_class_loads.loaded .doc-footer,
.loading_class_loads.loaded .branding h1 a 
{
   /* display:none; */
   animation-duration: 1s;
   animation-iteration-count: 1;
   animation-name: bodyload;
   animation-timing-function: linear;
   opacity:1;
  
   
}
/* in doc message loader */
.loading_msg{display:none;  text-transform :uppercase;}
body.loading_class_loads.loading .loading_msg{
    color: #000000;
    display: block;
    float: left;
    opacity: 1;
    position: fixed;
    top:100px;
    z-index: 99999;
}

  /* css animation */
  @keyframes bodyload{
    0% {opacity:0; }
    20% {opacity:.5; }
    70% {opacity:.9; }
    100% {opacity:1;}
  }
