.col-sectiontool {
  border-bottom: 1px solid #dadada;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}
.tdinfos a {
  color: #2980b9;
}
body.preview .esd {
  display: none;
}
/*.thesections{min-height:2000px;} */
body.preview section {
  border-top: medium none;
  margin-top: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}
.no-img {
  display: none;
}
.before-content {
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}
