html,
body {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  line-height: 1.1;
  margin-bottom: 14px;
  text-rendering: optimizelegibility;
}
time {
  font-size: 1.1em;
  font-style: italic;
}
.sections_container {
  width: 100%;
  float: left;
}
.tools_container {
  width: 80%;
  float: left;
}
section {
  width: 100%;
  float: left;
}
img {
  max-width: 100%;
}
.layout_name_wide img {
  width: 100%;
}
/*layout level (wide, left, center, right, ...) */
.layout_ {
  float: left;
}
/* all layouts positions variantes like: */
.layout_name_inline_into_after,
.layout_name_inline_into_before,
.layout_name_inline-implicit {
  display: none;
}
.layout_name_wide,
.layout_name_slidewide {
  width: 100%;
  text-align: center;
}
.layout_name_center {
  width: 58%;
  text-align: center;
  padding: 0 18%;
}
.layout_name_under,
.layout_name_global {
  width: 58%;
  text-align: center;
  padding: 0 18%;
}
.layout_name_left {
  padding: 1% 0 1% 1%;
  width: 17%;
}
.layout_name_inline {
  width: 58%;
  padding: 1%;
}
.layout_name_right {
  width: 17%;
  padding: 1%  1% 0 1%;
}
/* markup level */
/* all markup types variantes like: */
/* doc_header */
.doc_header {
  text-align: left;
  border-bottom: 1px solid #ccc;
  margin-left: 1.5%;
  padding-bottom: 1%;
  margin-bottom: 2%;
}
.doc_header h1 {
  font-size: 2em;
  margin-top: 2%;
}
.doc_header .editing_true {
  background: red;
}
.doc_header time {
  font-size: .9em;
}
/*render modes active*/
div.branding {
  background: none repeat scroll 0 0 #000;
  border-radius: 5px;
  color: #fff;
  height: 44px;
  left: 10px;
  position: absolute;
  text-align: center;
  top: 10px;
  transition: top 0.2s linear 0s, left 0.2s linear 0s, opacity 0.2s linear 0s;
  width: 44px;
  z-index: 700;
}
div.branding h1 a {
  float: left;
  height: 100%;
  opacity: 0;
  width: 100%;
}
.quick_tools,
.user_tools {
  position: absolute;
  top: 9px;
}
.quick_tools .inside,
.user_tools .inside {
  display: none;
}
.quick_tools .inside.visible_1,
.user_tools .inside.visible_1 {
  display: block;
  float: right;
  left: 0;
  padding: 2% 20%;
  position: fixed;
  width: 100%;
  top: 30px;
  background: none repeat scroll 0 0 #cccccc;
}
.quick_tools {
  right: 10px;
}
.user_tools {
  right: 30px;
}
.user_tools .inside.visible_1 {
  background: #dadada;
}
i.inactive {
  color: #dadada;
}
footer {
  text-align: center;
  width: 100%;
  border-top: 1px solid #dadada;
  clear: both;
  float: left;
  margin-top: 15px;
  padding: 10px 0;
}
