


body.mode-dark{background:#000; color:#fff;}
body.mode-dark a{color:#fff; font-weight:bold;}
 

body.centered_media .img-content{
    border-bottom: 1px solid #DADADA;
    margin-bottom: 10px;
    margin-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}

.featured-box img{
    margin-top: 24px;
    width: 100%;

}

article h6{margin-top:0px;}



.featured_top article {
    background: none repeat scroll 0 0 #ECF0F1;
    padding-bottom: 15px;
    padding-top: 15px;
}


.featured_second article {
    background: none repeat scroll 0 0 #ECF0F1;
    padding-bottom: 15px;
    padding-top: 15px;
}

.longforms_colors,
.longforms_colors article,
.longforms_colors_inv article:hover
 {background:  #34495E; transition: background 0.3s linear 0s;}


.longforms_colors h6,
.longforms_colors h2, 
.longforms_colors h2 a,
.longforms_colors_inv article:hover h6,
.longforms_colors_inv article:hover h2,
.longforms_colors_inv article:hover h2 a
 {color: #95A5A6;  transition: color 0.3s linear 0s;}
    
.longforms_colors_inv, 
.longforms_colors_inv article,
.longforms_colors article:hover
 {background:  #95A5A6; transition: background 0.3s linear 0s;}

.longforms_colors_inv h6, 
.longforms_colors_inv h2, 
.longforms_colors_inv h2 a,
.longforms_colors article:hover h6,
.longforms_colors article:hover h2,
.longforms_colors article:hover h2 a
 {color: #34495E; transition: color 0.3s linear 0s;}




featured_list .post_left,
.featured_longform .post_left {padding-bottom:15px;}


.featured_longform_top article {
    border-bottom: 1px solid #95A5A6 ;
   
}
.featured_longform_top article:hover {
    border-bottom: 1px solid #34495E;
   
}

.featured_longform article {
    border-bottom: 1px solid #34495E;
    padding-top: 15px;
}
.featured_longform article:hover {
    border-bottom: 1px solid #95A5A6;
}
.featured_longform article:last-child {
    border-bottom: 1px solid #95A5A6;
}


.featured_longform_top p em{
    font-size: 1.15em;
    font-style: normal;
    line-height: 1em;
}

/*H2 resacle..*/
.featured_longform_title h2 {
    margin-bottom: 8px;
    margin-top: 12px;
}


.featured_longform_top article{
    padding-top: 15px;
}
.featured_longform article{
    padding-top: 15px;
}
.featured_longform article h2 {
    font-size:1.8em;
}
.featured_longform article h2 a{
    
}





.featured_list article {
    padding: 15px;
}


 article.featured_list_colors  {
    background: none repeat scroll 0 0 #BDC3C7; 
    transition: background 0.3s linear 0s;
    border-left:1px solid  #BDC3C7;
        border-bottom:1px solid  #ecf0f1;
}
 article.featured_list_colors:hover  {
    background: none repeat scroll 0 0 #ecf0f1;
    transition: background 0.3s linear 0s; 
}

.featured_list_colors h2 a{
   color: #ecf0f1;
}

.featured_list_title.featured_list_colors{
  color: #BDC3C7;
}


.featured_list article h6 {
    font-size: .9em;
}
.featured_list article h2 {
    font-size: 1.6em;
    line-height: 1.1em;
    margin-top: -4px; /*funny fix*/
}
.featured_list article h2 a{
  color:#000;
}

.featured_list article.index_1 {
   background: none repeat scroll 0 0 #7f8c8d;
}

/*
.featured_list article + article + article{
     background: none repeat scroll 0 0 #E74C3C;
    min-height: 221px;
    padding-top: 48px;
}
*/


.post_wide img, .post_left img {
    width:100%;
}



.black_bg{
         background: none repeat scroll 0 0 #000;

}
.grez_bg{
  background:#2c3e50;
}

.p_pumpkin .post-title a{
    color:#d35400;
}


ul.inline-list > li span.under, ul.link-list > li span.under {
    
    color: #2980B9;
    display: inline-block;
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 13px;
}

footer  ul.link-list a{
      float: left;
}
ul.link-list > li span.under.csitelink {
    background: none repeat scroll 0 0 #2980B9;
    border-radius: 24px;
    color: #FFFFFF;
    font-size: 8px;
    font-weight: normal;
    letter-spacing: 0;
    margin-right: 4px;
    padding: 0 3px 0 4px;
}
ul.link-list > li.socialm  {
   margin-left:5px;
}


article.columns.twelve {
   
}

.pfl{}
.pfl h2{font-size:22px;}

.mpc.flmode article{


}

.mpc.flmode article img,.mpc.flmode article .post_left{
    display:none;
     width: 0%;
}
.mpc.flmode article .post_right{
    width: 100%;
}

.post_left{
}


article.image_left_title_excerpt h2 {
    
}



.featured_top h6.post_date_at{  font-size: 15px;}
.featured_second h6.post_date_at{  font-size: 13px;}

.featured_top h2 span.typofx {
    float: right;
    font-size: 418px;
    line-height: 17px;
    margin-top: 52px;
    opacity: 0.4;
}



.featured_top .doc_id_1 h2 {
    font-size: 92px;
    text-align: justify;
    width: 100%;
}
.featured_top .doc_id_1 h2 a ,.featured_top .doc_id_1 h6, .featured_top .doc_id_1 p{
   color:#fff;
}

.featured_top article.doc_id_1 {
   
     background: none repeat scroll 0 0 #000;

}

.featured_top .doc_id_1 article .post_right.nine.columns ,.featured_top .doc_id_1 article .post_left.three.columns  {
     width: 50%;
}


.featured_top article.doc_id_2  {
     width: 55%;

}


/*FLATMODE*/
.flats article {
    background: #ECF0F1;
    margin-bottom: 2px;
    padding-bottom: 10px;
    padding-top: 0;
}
.flats article h2 {
     font-size: 30px;
    margin: 10px 0 0;
}
.flats article h6 {
    font-size: 13px;
    margin: 8px 0 10px;
}
.flats article.index_0 h6 {
    font-size: 17px;
}
.flats article.index_1 h6 {
    font-size: 15px;
}

.docslist article {
    border-bottom: 1px solid #DADADA;
    margin-bottom: 15px;
    padding-bottom: 10px;
}



.row.docsmagazine {
    background: url("") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    border: 11px solid #DADADA;
    margin: 20px auto;
    padding: 21px;
}


.row.docsmagazine h1, .row.docsmagazine h2, .row.docsmagazine h3 {
    background:#000;
    opacity:.85;
    color:#fff;
}



.row.docsmagazine article{opacity:.85;}
.row.docsmagazine article + article{display:none;}

/* 
#####
#####
      MANIFEST LAYOUT
#####
#####
*/

.manifest_page{}
.manifest_guidelines{
  background:#ecf0f1;
  font-style:italic;
  padding:10px;

}
.manifest_guidelines p{
  font-size:19px;
  margin:0px;
}

.manifest_page h3{ border-bottom:1px solid #ECF0F1;}




/* sockets */
.socketing{
    opacity: 1;
    transition:  opacity 0.2s linear 0s;
}


.socketing.tweet-c-1{
    opacity: .1;
    transition:  opacity 0.2s linear 0s;
}
.socketing.tweet-c-2, .socketing.tweet-c-5, .socketing.tweet-c-7{
    opacity: .2;
    transition:  opacity 0.2s linear 0s;
}

.socketing.tweet-c-3, .socketing.tweet-c-6{
    opacity: .3;
    transition:  opacity 0.2s linear 0s;
}
.socketing.tweet-c-4, .socketing.tweet-c-8{
    opacity: .9;
    transition:  opacity 0.2s linear 0s;
}

.row .three.socketing.off{
    opacity: 1;
    width:100%;
    transition:  opacity 0.4s linear .4s, width 0.4s linear 0s;
    font-size:2em;

}
.row .three.socketing.off p{
    font-size:1.1em;
}
.row .three.socketing.off p+.row .three.socketing.off p{
    font-size:2.1em;
}






/* 
#####
#####
      Tag view 
#####
#####
*/

.tag_header{  
  border-top:1px solid #000;
  border-bottom:1px solid #000; 
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  top: -300px;
}

.tag_header h1{
  float: left;
  width:100%;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 3px 0 3px rgba(255, 255, 255, 0.5);
}

.tag_header h1 span{
  width:400px;
}

.tag_headermask{  
  background-image: -webkit-gradient(
  linear, right top, left top, from(rgba(255, 255, 255, 1.0)),
  to(rgba(255, 255, 255, 0))
  );
  /* mozilla example - FF3.6+ */
  background-image: -moz-linear-gradient(
  top ,
  rgba(255, 255, 255, 1.0) 0%, rgba(255, 255, 255, 0) 100%
  );
  height: 100px;
  z-index: 999;
}

.tag_headermaskblack{ 
  background-image: -webkit-gradient(
  linear, right top, left top, from(rgba(255, 255, 255, 1.0)),
  to(rgba(255, 255, 255, 0))
  );
  /* mozilla example - FF3.6+ */
  background-image: -moz-linear-gradient(
  top ,
  rgba(0, 0, 0, 1.0) 0%, rgba(255, 255, 255, 0) 100%
  );
  height: 300px;
  z-index: 999;
}

.tag_header h1.bb{  
  background:#000;
  color:#fff;
  padding-left:20px;
}

