div(class="branding sc bg_white")
	h1
		a(href="/#!", title="") 
			span #{locals.site_title}
div.main_center.register_form.bordered
	h3 {{render_config.i18n.CUSTOM.USER.subscribe_title}}
	form(novalidate class="css-form")
		p(style="color:red") {{errors}}
		p {{render_config.i18n.CUSTOM.USER.subscribe_notice_fields}}
	
		// label {{render_config.i18n.CUSTOM.USER.pick_username}} 
		input(type="hidden", ng-model="username")

		label {{render_config.i18n.CUSTOM.USER.pick_email}} 
		input(type="text", ng-model="email"  )
		
		//label {{render_config.i18n.CUSTOM.USER.pick_password}} 
		input(type="hidden", ng-model="password", )
		


		a.btn_ok.float_right(ng-click="subscribe()") {{render_config.i18n.CUSTOM.USER.subscribe_action}}

		p(ng-if="complete") {{render_config.i18n.CUSTOM.USER.subscribe_success}}
		