//i.icon-plus-sign(ng-click='section_toggler("editing_bottom_editor")')
.twelve.columns()
 h5 Document properties
 h6 document's ({{docmetas.length}}) key(s)/value(s)
 form(class="form-horizontal")
  div.dm_item(ng-repeat='docmeta in docmetas')
   label.dm_key key
    input(type="text", ng-model="docmeta.meta_key")
   label.dm_value value
    input(type="text" ,ng-model="docmeta.meta_value")
   input(type="hidden", ng-model="docmeta.id")
   i.icon-save(ng-click="saveDm(docmeta.id, docmeta.meta_key, docmeta.meta_value)")
   i.icon-remove(ng-click="deleteDm(docmeta.id)")  
 p 
   i.icon-plus(ng-click='newDm()') new key/value field
 // p
   i.icon-plus-sign(ng-click='basic_dm()') basic DM set(clear old!)

