// not included

.three.columns
.six.columns.npadr.npadl(ng-controller="SectionCtrl")
    p 
	//span.debug-a(ng-if="cur_sel.section_reindex==1") 
	//span {{cur_sel.section_action}}
	//span {{cur_sel.section_push_mode}}
	//p {{cur_sel.section_index}}
	//p {{cur_sel.fulltext}}
	//p {{cur_sel.fulltext_n}}
	// a(ng-controller="LetterCtrl" , ng-click="toggle_display($index, 'display')") display
	// a(ng-controller="LetterCtrl" , ng-click="toggle_display($index, 'editing')") editing
.three.columns