// not included
.three.columns
.six.columns.npadr.npadl(ng-controller="SectionCtrl")
 p 
   // span sv:: {{cur_sel['section_index']}}
   //span section {{cur_sel['section_start']}} > {{cur_sel['section_end']}}
   // span fulltext : {{sorted_section.fulltext}}
   // a(ng-click="click_section(sorted_section)" )  infos

 p
  // i.icon-remove( ng-click="_remove_section('section','', sorted_section, $index)" ) delete section
  // i.icon-plus(ng-show='$last', ng-click="_add_section(sorted_section, $last)") add section
  // i.icon-fast-backward(ng-show="($index > 1)", ng-click="cut_section(sorted_section, $index,'left', 100)") &nbsp; &nbsp;
  // i.icon-step-backward(ng-show="($index > 0)", ng-click="cut_section(sorted_section, $index,'left', 1)") &nbsp; &nbsp;
  // i.icon-fast-forward(ng-show="true", ng-click="cut_section(sorted_section, $index,'right', 100)") 
  // i.icon-step-forward(ng-show="true", ng-click="cut_section(sorted_section, $index,'right', 1)") 
  
  //a(ng-click="push_to_next_section(sorted_section, $index)") push to next
 // div.twelve.ilctools
    p {{cstart}}
     input( type="number", ng-model="cstart",  ng-change="change_textarea_range(cstart, cend)")
    p {{cend}}
     input(type="number", ng-model="cend", ng-change="change_textarea_range(cstart, cend)" ) 
.three.columns