.one.columns 
.ten.columns
  // span.filter_dataset_by filtered by :{{filter_dataset_by}} 
  // a.filter_dataset_by_next(ng-click="slide_filter_dataset_by('filter_dataset_available')")  &raquo; {{filter_dataset_by_next}}
  table(style="width:100%;")
    thead 
      tr
        th Select
        th Actions
        th type
        th subtype
        th metadata
        th reverse
        th start
        th end
        th position
        th section index
        th isolated.
        th sel.
        th ed.
        th status.
        
        th moderation.
   
      tr(ng-controller="MarkupCtrl", ng-if="markup.deleted !== true" ng-repeat="markup in markups" class="trtype-{{markup.type}}")
        // , ng-if="markup.type==filter_dataset_by || filter_dataset_by == 'any'"
        td()
         span.markup-item-subtype(ng-click="toggle_select_markup('click')", class="clipped_{{markup.isselected}} markup-hn_{{markup.subtype}}" ) + 
         
        td
         i.fa.fa-save.btn_action(tooltip-placement="right" tooltip="{{render_config.i18n.CUSTOM.ACTIONS.save}}" ng-click="save('ok')")

         i.fa.fa-remove.btn_action(tooltip-placement="right" tooltip="{{render_config.i18n.CUSTOM.ACTIONS.delete}}" ng-click="delete()")
        td 
          input(ng-model="markup.type" , type="text")
        td 
          input(ng-model="markup.subtype" , type="text")
        td 
          input(ng-model="markup.metadata" , type="text")
        td 
          a(ng-click="reverse()") reverse metadata
        td 
         input(ng-model="markup.start" , type="number")
        td 
         input(ng-model="markup.end" , type="number")
        
        td {{markup.position}}
        td {{markup.sectionin}}
        td {{markup.isolated}}
        td 
          span {{markup.selected}}
        td
          span {{markup.editing}}
        td
          span {{markup.status}}
        td
          i.fa.fa-check.btn_action(tooltip-placement="left" tooltip="set as approved" ng-click="change_value('status','approved', true)") 
          i.fa.fa-close.btn_action(tooltip-placement="left" tooltip="set as pending" ng-click="change_value('status','pending', true)") 

.one.columns
  // a(ng-click="Grabcollection('select')") Grabcollection (test function)
  // div.collection
  // code
    {{collection}}
  // ul
    code(ng-repeat="c in collection") {{c.subtype}}:{{c.metadata}} 
  // a(ng-click="toggle_render('read')") Reading mode
