// .section_editor_head
	// .head-left
		i(ng-click="select_section()" class="fa fa-container fa-section editing_{{section.editing}} selected_{{section.selected}}" ) 
			span( ng-if="section.editing === false") Select section 
			span( ng-if="section.editing === true") Unselect section

	// .head-right(ng-if="section.editing === true")
		// i.fa.fa-save.btn_action( tooltip-placement="right" tooltip="{{i18n.CUSTOM.ACTIONS.save}}" ng-click="save()")
		// a(ng-click="next_prev('next')" , ng-if="!$parent.$parent.$parent.$parent.$parent.$parent.$last") next section
		// a(ng-click="next_prev('prev')" , ng-if="!$parent.$parent.$parent.$parent.$parent.$parent.$first") previous section
		
	.section_editor_body(ng-if="section.editing === true" class="touchedinput-{{section.touched}}")
		

		// div.section_quick_tools
			.sobject-tools
				// i.fa.fa-sliders.btn_action(tooltip-placement="right" tooltip="{{i18n.CUSTOM.ACTIONS.more_options}}" ng-click="toggle_attribute('object_tools')")
				
		tabset.editor-main-tab()			
								
			tab(heading="slidewide" ng-if="markups_by_start_end_position_type(section.start, section.end ,'slidewide', 'media').length>0" ) 
				div(ng-repeat="markup in markups_by_start_end_position_type(section.start, section.end ,'slidewide', 'media') track by $index")
					div(class="markup_ markup_type_{{markup.type}}")
						markup-view
			tab(heading="background" ng-if="markups_by_start_end_position_type(section.start, section.end ,'background', 'media').length>0" ) 
				div(ng-repeat="markup in markups_by_start_end_position_type(section.start, section.end ,'background', 'media') track by $index")
					div(class="markup_ markup_type_{{markup.type}}")
						markup-view

	div(ng-if="render.debug") 
		p is touched ? {{section.touched}}
		// p range: {{ui.selected_range.textrange}}
		h2 is multi ? {{ui.selected_range.multi}} size ? {{ui.selected_range.size}}
		h1  Textlength: {{section.textlength}} objects count: {{section.objects_count.all}}
		h2 section letter length {{section.letters.length}}
		h4  s {{section.start }} ;end: {{section.end}}
		// a(ng-click="insert_char('A','','')") insert a "A"

