
<div ng-if="section.editing_text ===true" class="inline_tools"><span class="pusher">
    <h2>yup</h2>
    <div class="pusher_markups">{{available_sections_objects}}
      <tabset class="editor-main-tab">
        <tab heading="tabA"> 
          <h1>section.keepsync : {{section.keepsync}}</h1>
        </tab>
        <tab ng-if="object=='markup' || object=='container_class'" heading="{{object}}" ng-repeat="object in available_sections_objects"> 
          <div ng-if="object=='markup'">
            <ul class="typer sub">
              <li ng-repeat="t in objSchemas[object].modes.editor.fields.subtype.available" class="pusher_item"> <i tooltip="insert markup" ng-click="push_generic_from_ranges('markup', t,'inline')" class="fa btn_action fa-{{t}}"> </i></li>
              <li class="pusher_item"> <i tooltip="insert markup" ng-click="push_generic_from_ranges('media', 'img','right', '')" class="fa btn_action fa-media"> </i><i tooltip="insert link" ng-click="push_generic_from_ranges('hyperlink', 'hyperlink','under', '')" class="fa btn_action fa-link"> </i></li>
            </ul>
          </div>
          <div ng-if="object=='container_class'"><i tooltip="insert markup" ng-click="push_generic_from_ranges('container_class','css','inline', 'bg_dark')" class="fa btn_action fa-{{t}}">text white</i><i tooltip="insert markup" ng-click="push_generic_from_ranges('container_class','css','inline', 'bg_black')" class="fa btn_action fa-{{t}}">background black</i></div>
        </tab>
        <!-- li.pusher_item(class="") 
        i.fa.btn_action(tooltip="insert markup" class="fa-media" ng-click="open_pusher_details('media')" ) 
        
        
        
        
        
        -->
      </tabset>
    </div>
    <div ng-if="ui.selected_range.end &amp;&amp; ui.selected_range.start || ui.selected_range.start ===0" class="pusher_range"><span class="ranges">
        <!-- p {{ui.selected_range.insert}} --><span class="ranges_start_end">Selected letters from {{ui.selected_range.start}}  to {{ui.selected_range.end}}</span>
        <!-- span.textrange
        {{ui.selected_range.textrange}} 
        
        
        --></span></div></span>
  <!-- textarea(type="text", ng-model="section.fulltext")-->
  <!-- h4 {{section.start}} - {{section.end}} - {{section.metadata}} - {{section.type}} - {{section.subtype}}-->
  <!-- p {{ui.selected_range}}-->
  <!-- debug-->
  <!-- h1 {{ui.selected_section_index}}-->
  <!-- h2 insert : {{ui.selected_range.insert}}-->
  <!-- h2 insert_scratch :{{ui.selected_range.insert_scratch}}-->
  <!-- h4 {{push}}-->
  <!-- em {{ui.selected_range}}-->
  <div ng-if="ui.debug" class="sectiondebug">
    <h1>{{ui.selected_range.start}} - {{ui.selected_range.end}}</h1>
  </div>
  <!-- h1 {{ui.current_action}}-->
  <!-- h5 {{ui.cursor_at}}-->
  <!-- h4 {{ui.selected_range.start}}-->
  <!-- h1 {{ui.current_action}}-->
  <!-- em at start : {{section.cursor_at_start}}-->
  <!-- em at end : {{section.cursor_at_end}}-->
  <!-- h2 stack ({{ section.debuggr.length }})-->
  <!-- div(ng-repeat="mess in section.debuggr track by $index")em {{mess}}
  -->
</div>