div.inline_tools()
	
	span.pusher
		mb-ranges()
		
		pre {{section.test}}
		
		tabset.editor-main-tab()
			
			tab(heading='Add inline markup') 
				mb-pusher(type="inline_objects", position="inline", start="ui.selected_range.start", end="ui.selected_range.end", last="$last")

			tab(heading="Markups" ng-if="markups_by_start_end_position_type(section.start, section.end ,'inline', 'markup').length > 0") 
				div(ng-repeat="markup in markups_by_start_end_position_type(section.start, section.end ,'inline', 'markup') track by $index")
					div(class="markup_ markup_type_{{markup.type}}")
						markup-view
			

				
			tab(heading="Add section styles") 

				ul
					li(ng-repeat="op_ in css_classesAvailable")  
						i.fa.btn_action(ng-click="new_option(op_.name)" class="fa-container_class") {{op_.notice}}


			tab(heading="section styles" ng-if="section.css_classes_array.length >0") 
				
				ul
					li(ng-repeat="scss in section.css_classes_array") 
						a {{scss}} 
						i.fa.fa-remove.btn_action(ng-click="delete_option(scss)") &nbsp;
			

			tab(heading="Operations" ng-if="section.operations.length>0")
				a.btn(ng-click="operations_clear()") clear
				a.btn(ng-click="reverse_operation()") reverse last operation
				ul
					li(ng-repeat="op in section.operations") {{op.grp_log}}
						a.btn(ng-click="expand_operation(op)") +
						pre(ng-if="op.expanded") {{op}}

			tab(heading="More")
				a(ng-click="next_prev('next')" , ng-if="!$parent.$parent.$parent.$parent.$parent.$last") next section
				a(ng-click="next_prev('prev')" , ng-if="!$parent.$parent.$parent.$parent.$parent.$first") previous section

				label delete
				i.fa.fa-remove.btn_action(tooltip-placement="left" tooltip="{{i18n.CUSTOM.ACTIONS.delete}}" ng-click="delete()")
				div.section_ranges
					span.field.ranges
						span.ranges_inputs
							span.field.numberfloat.oneline
								span From 
								input.section_end(type="number" , ng-model="section.start" )
								span &nbsp;&nbsp;to 
								input.section_start(type="number" , ng-model="section.end" )
					// a(ng-click="integrity_fix()") fix offsets
					// a(ng-click="split()") split
					// a(ng-click="merge()") merge
					// pre {{section}}
