
<div ng-if="section.editing_text === true" class="inline_tools"><span class="pusher">
    <div class="pusher_markups">
      <div ng-if="ui.selected_range" class="pusher_range"><span class="ranges"><span class="ranges_start_end">Selected letters from {{ui.selected_range.start}}  to {{ui.selected_range.end}}</span><span class="ranges_start_end">size: {{ui.selected_range.size}} multi {{ui.selected_range.multi}}</span><span class="textrange">{{ui.selected_range.textrange}}</span><span class="wait_ev wait_ev--{{ui.selected_range.wait_ev}}">&nbsp;</span></span></div>
      <tabset class="editor-main-tab">
        <!-- tab( heading="tabA") 
        h1 section.keepsync : {{section.keepsync}}
        
        
        -->
        <tab ng-if="object=='markup'" heading="Add {{object}}" ng-repeat="object in available_sections_objects"> 
          <p>&nbsp;</p>
          <div ng-if="object=='markup'">
            <ul class="typer sub">
              <li ng-repeat="t in objSchemas[object].modes.editor.fields.subtype.available" class="pusher_item"> <i tooltip="insert markup" ng-click="push_generic_from_ranges('markup', t,'inline')" class="fa btn_action fa-{{t}}"> </i></li>
              <li class="pusher_item"> |</li>
              <li class="pusher_item"> <i tooltip="insert markup" ng-click="push_generic_from_ranges('media', 'img','right', '')" class="fa btn_action fa-media"> </i><i tooltip="insert link" ng-click="push_generic_from_ranges('hyperlink', 'hyperlink','under', '')" class="fa btn_action fa-link"></i></li>
            </ul>
          </div>
          <p>&nbsp;</p>
        </tab>
        <tab heading="Markups" ng-if="markups_by_start_end_position_type(section.start, section.end ,'inline', 'markup').length &gt; 0"> 
          <!-- h1 section.keepsync : {{section.keepsync}}-->
          <div ng-repeat="markup in markups_by_start_end_position_type(section.start, section.end ,'inline', 'markup') track by $index">
            <div class="markup_ markup_type_{{markup.type}}">
              <markup-view></markup-view>
            </div>
          </div>
        </tab>
        <tab heading="Operations" ng-if="section.operations.length&gt;0">
          <ul>
            <li ng-repeat="op in section.operations">{{op}}</li>
          </ul><a ng-click="operations_clear()" class="btn">clear</a><a ng-click="reverse_operation()" class="btn">reverse last operation</a>
        </tab>
      </tabset>
    </div></span>
  <!-- textarea(type="text", ng-model="section.fulltext")-->
  <!-- h4 {{section.start}} - {{section.end}} - {{section.metadata}} - {{section.type}} - {{section.subtype}}-->
  <!-- p {{ui.selected_range}}-->
  <!-- debug-->
  <!-- h1 {{ui.selected_section_index}}-->
  <!-- h2 insert : {{ui.selected_range.insert}}-->
  <!-- h2 insert_scratch :{{ui.selected_range.insert_scratch}}-->
  <!-- h4 {{push}}-->
  <!-- em {{ui.selected_range}}-->
  <div ng-if="ui.debug" class="sectiondebug">
    <h1>{{ui.selected_range.start}} - {{ui.selected_range.end}}</h1>
  </div>
  <!-- h1 {{ui.current_action}}-->
  <!-- h5 {{ui.cursor_at}}-->
  <!-- h4 {{ui.selected_range.start}}-->
  <!-- h1 {{ui.current_action}}-->
</div>