div()
	div(class="theletters no_default_selection is_multi_{{ui.selected_range.multi}} is_collapsed_{{ui.selected_range.collapsed}} is_single__{{ui.selected_range.single}} floppy__{{ui.selected_range.floppy.floppy_}} _floppy_{{ui.selected_range.floppy._floppy}}" ng-if="section.modeletters == 'single'")
		span(lt="l",ng-repeat="l in section.letters")

	mb-fulltext(class="fluidtext" section="section" ng-if="section.modeletters !=='single'" ng-bind-html="section.fulltext_block")
