
<div class="div">
  <div ng-if="isvisible" class="pusher">
    <!-- h1 inside pusher {{type}} {{position}}-->
    <!-- h3 isvalid: {{isvalid}}-->
    <!-- h4 {{push.has_ranges}}--><span ng-if="type=='column'" tooltip-placement="right" tooltip="{{render_config.i18n.CUSTOM.COMMENT.label}}" ng-click="pusher_toggle()" class="open_comment">+</span>
    <div ng-if="isopen" class="pusher">
      <div ng-if="type=='column'">
        <div ng-if="!userin.islogged" class="user_not_in">
          <p><a ng-href="{{userin.login_url}}" ng-if="userin.username == '' ">{{render_config.i18n.CUSTOM.COMMENT.needs_logging}}</a></p>
          <p><a ng-href="{{userin.login_url}}" ng-if="userin.username == '' " class="loginOrSignup">{{render_config.i18n.CUSTOM.USER.loginOrSignup}}</a></p>
        </div>
        <div ng-if="userin.islogged" class="user_in">
          <p class="logged_in_as">{{render_config.i18n.CUSTOM.COMMENT.logged_in_as}} <em><a ng-href="{{userin.account_url}}" ng-bind-html="userin.username"></a></em></p>
          <p>
            <label>{{render_config.i18n.CUSTOM.ACTIONS.add}} {{render_config.i18n.CUSTOM.OBJECTS[push.type]}}</label>
          </p>
          <p ng-hide="push.has_ranges">
            <label>Select a range of text first</label>
          </p>
          <p ng-if="push.has_ranges">Adding {{push.type}} from {{ui.selected_range.start}} to {{ui.selected_range.end}}</p>
        </div>
      </div>
      <div ng-if="userin.islogged">
        <!-- h1 inside pusher opened-->
        <!-- pre {{push}}-->
        <!-- pre {{available_sections_objects}}-->
        <p ng-if="objSchemas[push.type].modes.editor.fields.type.show_editor &amp;&amp; type!=='inline_objects'">
          <label>{{render_config.i18n.CUSTOM.ACTIONS.select}} type</label>
          <select ng-model="push.type">
            <option ng-repeat="object in available_sections_objects" ng-if="objSchemas[object].modes.pusherleft">{{object}}</option>
          </select>
        </p>
        <p ng-if="objSchemas[push.type].modes.editor.fields.position.show_editor">
          <label>{{render_config.i18n.CUSTOM.ACTIONS.select}} position</label>
          <select ng-model="push.position">
            <option ng-repeat="p in objSchemas[push.type].positions.available" ng-value="{{p}}">{{p}}</option>
          </select>
        </p>
        <p ng-if="objSchemas[push.type].modes.editor.fields.subtype.show_editor">
          <label>{{render_config.i18n.CUSTOM.ACTIONS.select}} subtype</label>
          <select ng-model="push.subtype">
            <option ng-repeat="st in objSchemas[push.type].modes.editor.fields.subtype.available" ng-value="{{st}}">{{st}}</option>
          </select>
        </p>
        <p ng-if="objSchemas[push.type].modes.editor.fields.metadata.show_editor == true">
          <label>{{objSchemas[push.type].modes.editor.fields.metadata.label}}</label>
          <textarea ng-if="objSchemas[push.type].modes.editor.fields.metadata.input == 'textarea'" ng-model="push.metadata" type="text" value="{{render_config.i18n.CUSTOM.COMMENT.textarea}}"> </textarea>
          <input ng-if="objSchemas[push.type].modes.editor.fields.metadata.input == 'text'" ng-model="push.metadata" type="text"/>
        </p>
        <p ng-if="objSchemas[push.type].modes.editor.fields.ranges.show_editor == true">
          <label>{{objSchemas[push.type].modes.editor.fields.ranges.label}}</label>
        </p>
        <div ng-if="type=='new_section'" class="pusher_section"><i tooltip="new section" ng-click="new_section()" class="fa fa-plus-square pusher_item btn"></i></div>
        <div ng-if="type=='container_class'" class="pusher_css_styles">
          <ul>
            <li ng-repeat="t in objSchemas[push.type].modes.editor.fields.metadata.available" class="pusher_item"> <i tooltip="insert container class (css)" ng-click="push_generic_from_ranges('container_class','css','inline', t)" class="fa btn_action fa-container_class">{{t}}</i></li>
          </ul>
        </div>
        <div ng-if="type=='inline_objects' ">
          <ul class="typer sub">
            <li ng-repeat="t in objSchemas['markup'].modes.editor.fields.subtype.available" class="pusher_item"> <i tooltip="insert markup" ng-click="push_generic_from_ranges('markup',t,'inline')" class="fa btn_action fa-{{t}}"> </i></li>
            <li class="pusher_item"> |</li>
            <li class="pusher_item"> <i tooltip="insert markup" ng-click="push_generic_from_ranges('media', 'img','right', '')" class="fa btn_action fa-media"> </i><i tooltip="insert link" ng-click="push_generic_from_ranges('hyperlink', 'hyperlink','under', '')" class="fa btn_action fa-link"></i></li>
          </ul>
        </div>
        <p ng-if="type!=='container_class'"><a ng-show="isvalid" ng-click="add()" class="btn_ok float_right">{{render_config.i18n.CUSTOM.ACTIONS.add}} {{push.type}}</a></p>
      </div>
    </div>
  </div>
</div>