div(ng-if="section['objects_count']['by_positions'][layout.name].count > 0 || layout.include_even_empty", ng-repeat="layout in available_layouts")
	

	div(class="layout_ layout_name_{{layout.name}} has_count_{{section.objects_count.by_positions[layout.name].count}} has_object_{{section.objects_count.by_positions[layout.name].has_object}}")
		
		
		// title, author, date, ..
		doc-title(ng-if="(layout.include_title) && ($parent.$parent.$first) &&  (ui.renderAvailable_active !=='embed') " )
		mb-dataset(ng-if="ui.dataset.active && (layout.include_dataset)")

		//  
		div(ng-if="layout.name == 'right'")
			// h1 {{section.selected}}
			// h2 {{ui.selected_range.working_section}}
			// pre {{section.cursor_in}}

			// edit/delete range and css objects.
			mb-sectioneditor(class="section_editor section-editor-right" ng-if="doc_owner == true")
	
			// made to boot controller, not displayed here
			div(ng-repeat="markup in markups_by_start_end_position_type(section.start, section.end ,'background', 'media') track by $index" class="markup_ markup_type_bg")
				markup-view()
				
			div(ng-controller="MarkupCtrl", style="display:none" ng-repeat="markup in markups_by_start_end_position_type(section.start, section.end ,'any', 'container_class') track by $index")
				
			div(ng-controller="MarkupCtrl", style="display:none" ng-repeat="markup in markups_by_start_end_position_type(section.start, section.end ,'inline', 'markup') track by $index")
				
		div(ng-if="object.visible!==false && layout.include_objects!==false && layout.name!=='slidewide'" , ng-repeat="object in available_sections_objects")
			//h3 {{object}} 
			div(ng-repeat="markup in markups_by_start_end_position_type(section.start, section.end ,layout.name,object) track by $index" )
				

				div(class="markup_ markup_type_{{markup.type}}")
					markup-view()

		// mb-commentform(ng-if="(doc_options.comments_open.value !=='false' || !doc_options.comments_open.value  ) && layout.name == 'left'")
		mb-pusher(type="column", position="{{layout.name}}", ng-if="(doc_options.comments_open.value !=='false' || !doc_options.comments_open.value  ) && layout.name == 'left'")
		
		div(ng-if="layout.name == 'slidewide'")
			carousel( interval="1000")
				slide(ng-repeat="markup in markups_by_start_end_position_type(section.start, section.end ,'slidewide','media') track by $index" )
					p 
						img(ng-src="{{markup.metadata}}")

		div(ng-if="layout.name == 'inline'")
			// pre {{ui.current_action}}
			
			// pre {{ui.selected_range}}
			// h3 {{section.rebuild_count}}

			// pre(ng-repeat="md in markups_pushed") {{md.start}} {{md.end}} {{md.metadata}} {{md}}

			
			// h2 
				a(ng-click="sectionmarkups('selected', true)") {{section_markups.visible}}

			mb-sectioninlineeditor(ng-if="section.editing_text === true")
			div.fluidtextarea(ng-if="section.editing_text === true")
			

				// h3 Edit section text
				textarea(required ng-trim="false" , text-listener  , ng-model="section.fulltext")
				// textarea(required ng-trim="false" , text-listener  , ng-model="section.fulltext__")

				//div.mtextarea(contentEditable="true" , required ng-trim="false" , text-listener  , ng-bind-html="section.fulltext")


			// mb-text(section="section")
			mb-letters(section="section")


			

			mb-pusher(type="new_section", position="{{layout.name}}")

		

		div(ng-if="layout.name == 'global' && $parent.$parent.$last")
			// h4 {{layout.name}}
			div(ng-repeat="object in available_sections_objects track by $index")
				div(ng-repeat="markup in markups_by_start_end_position_type(0, section.end , layout.name, object) track by $index")
					div(class="markup_ markup_type_{{markup.type}}")
						markup-view()
		
			
		// div.isolated(ng-if="layout.name == 'global' && $parent.$parent.$last &&  ui.isolated_markups.length > 0" )
			h4 isolated
			div(ng-repeat="markup in ui.isolated_markups")
				markup-view()

		// div.virtuals(ng-if="layout.name == 'global' && $parent.$parent.$last  > 0 " )
			div(ng-repeat="virtual in virtuals")
				div(ng-if="virtual.visible", ng-bind-html="virtual.string")

// render into the layout loop, only "if last"
// made to apply last section styles to footer
footer(ng-if="$last && ui.renderAvailable_active !=='embed'")
	p(ng-bind-html="doc_options.footer_center_html.value")