// editor to add/edit/delete options
// todo :
//  * i18n
//  * api for delete and create
div(ng-if="ui.renderAvailable_active == 'doc_options'")
	div.doc_editor()
		
		h4 {{render_config.i18n.CUSTOM.DOCUMENT.document_options}}
		p.back_read(ng-if="ui.renderAvailable_active !=='read'")
				span(ng-click="toggle_render('read')") &laquo; {{render_config.i18n.CUSTOM.ACTIONS.back_to_document}}

		.edit_field_left
			.edit_field.excerpt_field
				label "L'extrait"
				textarea(ng-model="doc.excerpt")
				i.fa.fa-save(ng-click="edit_doc('excerpt')")
										
			.edit_field.room_field(ng-if="doc.user.username =='Tom Wersinger'")
				label Published in "room" ID : {{doc.room.slug}}
				input(type="text" ,ng-model="doc.room__id", name="doc.room__id")
				i.fa.fa-save(ng-click="edit_doc('room_id')")

			.edit_field.user_field
				label User ID : {{doc.user.username}} (transmit ownership)
				input(type="text" ,ng-model="doc.user._id", name="doc.user._id")
				i.fa.fa-save(ng-click="edit_doc('user_id')")


		.edit_field_right
			.edit_field.thumbnai_field
				label "thumbnail" image url
				input(type="text",ng-model="doc.thumbnail", name="doc.thumbnail") 
				i.fa.fa-save(ng-click="edit_doc('thumbnail')")
				img.thumbnail_input( ng-src="{{doc.thumbnail}}")

		label Other options

		div.doc_options_table
			div.doc_options_item(ng-repeat="opt in doc.doc_options")
				label {{opt.option_name}} 
				input(name="doc_options[opt.option_name]", type="text", ng-model="doc_options[opt.option_name].value")
				i.fa.fa-save(ng-click="doc_options_save(doc_options[opt.option_name].value, opt._id)")
				i.fa.fa-remove(ng-click="doc_options_delete(opt._id)")  

			
			div.doc_options_item.item_new
				label new
				input(name="ui.doc_option_new_name", type="text", ng-model="ui.doc_option_new_name")
				i.fa.fa-plus(ng-click='doc_options_new()') new option