
<!-- the document title, time, author... -->
<!-- + document options editor-->
<div class="doc_header">
  <h4>{{mapping_pass}}</h4>
  <!-- ng-if="ui.renderAvailable_active !=='embed'"-->
  <!-- p {{doc_options.include_audio_autoplay.value}}-->
  <!-- audio(id="video1" controls src="{{doc_options.include_audio_file.value}}" type="audio/mpeg")-->
  <h2 ng-bind-html="doc_options.doc_notices_before_title.value"></h2>
  <!-- h2(ng-bind-html="doc_options.doc_notices_before_title.value+'&nbsp;'" , class="editing_{{ui.editing_doc_notices_before_title}}" , ng-dblclick="edit_doc_option('doc_notices_before_title')") 
  -->
  <!-- .edit_field(ng-if="ui.editing_doc_notices_before_title")
  label Edit beforetitle
  input(ng-if="ui.editing_doc_notices_before_title", ng-model="doc_options.doc_notices_before_title.value", name="doc_options.doc_notices_before_title.value")
  a.btn_ok.float_right(ng-click="edit_doc_option('doc_notices_before_title')") Save
  
  -->
  <h1 ng-if="test_draft(doc.title)" ng-click="edit_doc('title')">{{render_config.i18n.CUSTOM.DOCUMENT.default_title}}<span tooltip="edit title" class="hint">edit title</span></h1>
  <h1 ng-hide="test_draft(doc.title)" ng-if="doc_options.display_doc_title.value =='doc_header' || !doc_options.display_doc_title.value" ng-dblclick="edit_doc('title')">{{doc.title}} &nbsp;</h1>
  <div ng-if="ui.editing_title" class="edit_field float-block w-100"><span class="float-block">
      <label>Edit "Title" </label>
      <input ng-model="doc.title"/></span><a ng-click="edit_doc('title')" class="btn_ok save_title">Save</a></div>
  <h3 ng-bind-html="doc_options.doc_notices_after_title.value"></h3>
  <!-- h3(ng-bind-html="doc_options.doc_notices_after_title.value+'&nbsp;'" , class="editing_{{ui.editing_doc_notices_after_title}}" , ng-dblclick="edit_doc_option('doc_notices_after_title')") -->
  <!-- .edit_field(ng-if="ui.editing_doc_notices_after_title")
  label Edit "after Title"
  input(ng-if="ui.editing_doc_notices_after_title",   ng-model="doc_options.doc_notices_after_title.value", name="doc_options.doc_notices_after_title.value")
  a.btn_ok.float_right(ng-click="edit_doc_option('doc_notices_after_title')") Save
  	
  -->
  <time ng-if="doc_options.display_date.value =='doc_header' || !doc_options.display_date.value" class="head_left">{{doc.formated_date}}&nbsp;<span tooltip="{{doc.published}}" ng-click="expand_tools('quick_tools_published')" ng-if="doc_owner == true  || ui.secret" class="published-header hint"><i ng-if="doc.published=='draft'" class="fa fa-eye-slash"> </i><i ng-if="doc.published=='public'" class="fa fa-eye"> </i></span></time>
  <div ng-if="doc_options.display_author.value =='doc_header' || !doc_options.display_author.value " class="head_left">
    <div class="post-author-info">
      <p>{{render_config.i18n.CUSTOM.DOCUMENT.by_author}} <span style="color:{{doc.user.color}};" rel="author" class="post-author-name">{{doc.user.username}} </span></p>
    </div>
  </div>
  <div ng-if="doc.published=='public' &amp;&amp; (doc_options.display_sharer.value =='doc_header' || !doc_options.display_sharer.value)" class="sharer"><a ng-class="" href="https://twitter.com/intent/tweet?text={{doc.excerpt}} {{doc.encoded_url}}" class="twitter-share-icon"><i class="fa fa-twitter"></i></a><a href="https://www.facebook.com/sharer/sharer.php?u={{doc.encoded_url}}"><i class="fa fa-facebook-square"></i></a></div>
</div>