div(ng-hide="ui.renderAvailable_active == 'doc_options' || ui.renderAvailable_active == 'card' " , class="sections_count_{{sectionstocount}} sections_container")
	section(mb-section ng-controller="SectionCtrl" , ng-if="section.deleted !== true" id="anchor{{$index+1}}" , ng-repeat="section in $parent.containers track by $index" ,  style="{{section.section_styles}} background-repeat:no-repeat;", class="focus_ focus_{{section.focused}} {{section.section_classes}} selected_{{section.selected}}")
