div(ng-hide="ui.renderAvailable_active == 'doc_options' || ui.renderAvailable_active == 'card' " , class="sections_count_{{sectionstocount}} sections_container")
	section(ng-repeat="section in doc.sections track by $index", ng-init="init_($index)", mb-section, ng-if="section.deleted !== true" id="anchor{{$index+1}}",  style="{{section.section_styles}} background-repeat:no-repeat;", class="focus_ focus_{{section.focused}}  {{section.css_classes}} selected_{{section.selected}}")

// div(class="sections_container")
	section( mb-sectionb, ng-repeat="section in $parent.doc.containers track by $index")
