div.post_excerpt(ng-if="ui.renderAvailable_active == 'card'")
	h1 {{doc.title}}
	img(ng-src="{{doc.thumbnail}}")
	code(ng-repeat="d in doc.markups") {{d.start}} - {{d.end}} - {{d.type}} - {{d.metadata}} 
		br
	// p(ng-repeat="s in doc.containers" ng-bind-html="s.fulltext_block")


	pre {{doc}}

	