/*
small layout
@left-margin:27%;
@inline-width:40%;
@inline-width-neg:-40%;
*/
html {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility !important;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 1.0em;
}
a,
a:link,
a:hover {
  text-decoration: none;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  line-height: 1.1;
  margin-bottom: 14px;
  text-rendering: optimizelegibility;
}
time {
  font-size: 1.1em;
  font-style: italic;
}
.sections_container {
  width: 100%;
  float: left;
}
.tools_container {
  width: 80%;
  float: left;
}
section {
  width: 100%;
  float: left;
}
section {
  padding-bottom: 10px;
}
section.pad-bottom {
  padding-bottom: 20px;
}
section.pad-top-bottom {
  padding: 20px 0px;
}
/*place for editing zone at fixed bottom*/
body.render_active_editor section:last-child {
  padding-bottom: 100px;
}
img {
  max-width: 100%;
}
.float_right {
  float: right;
}
/*forms*/
/*.markup_editor

form
*/
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 14px;
  height: 32px;
  margin: 0 0 12px;
  padding: 6px;
  transition: all 0.15s linear 0s;
  width: 100%;
}
textarea {
  clear: left;
  display: block;
  line-height: 18px;
  margin-bottom: -2px;
  overflow: auto;
  width: 99%;
}
.numberfloat input {
  display: block;
  float: left;
  margin-right: 2%;
  margin-top: 10px;
  min-width: 50px;
  width: 20%;
}
.smallinput input {
  display: block;
  float: left;
  margin-right: 2%;
  margin-top: 10px;
  min-width: 50px;
  width: 20%;
}
.bordered {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2%;
}
/* BUTTONS */
.btn {
  border-radius: 4px;
  font-weight: bold;
  padding: 4px;
  text-decoration: none;
  display: block;
}
a.btn_ok {
  background: none repeat scroll 0 0 #000;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  padding: 4px;
  text-decoration: none;
  display: block;
}
.btn_section {
  color: #fff;
  float: left;
  width: auto;
  margin-bottom: 5px;
  font-size: 0.8em;
  clear: both;
}
.btn_section.btn_section_select {
  background: #3498db;
}
.btn_section.btn_section_create {
  background: #2980b9;
  float: right;
  width: auto;
}
.btn_section.btn_section_unselect {
  background: #2980b9;
}
.btn_section:hover {
  background: #3498db;
  color: #fff;
}
.comment_form {
  background: none repeat scroll 0 0 #ebebf8;
  float: left;
  margin-bottom: 15px;
  padding: 7% 2%;
  width: 96%;
}
.comment_form textarea {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  margin-bottom: 10px;
  margin-top: 3px;
  min-height: 100px;
  width: 94%;
}
.comment_form a.loginOrSignup {
  font-size: 0.8em;
  line-height: 0.8em;
  text-decoration: underline;
}
.comment_form .logged_in_as {
  display: block;
  float: left;
  font-size: 0.8em;
  line-height: 0.8em;
  width: 100%;
  margin-bottom: 10px;
}
.layout_name_wide img,
.layout_name_center img,
.layout_name_under img {
  max-width: 200%;
  width: 100%;
}
/*layout level (wide, left, center, right, ...) */
.layout_ {
  float: left;
}
/* all layouts positions variantes like: */
.layout_name_inline_into_after,
.layout_name_inline_into_before,
.layout_name_inline-implicit {
  display: none;
}
.layout_name_wide,
.layout_name_slidewide {
  width: 100%;
  text-align: center;
}
.layout_name_center {
  margin: 0 2%;
  padding: 0 18%;
  text-align: center;
  width: 60%;
}
.layout_name_under,
.layout_name_global {
  margin: 0 2%;
  padding: 0 18%;
  width: 60%;
}
.layout_name_left {
  left: -60%;
  position: relative;
  width: 18%;
  margin-left: -2%;
  margin-right: 1%;
  padding: 0 0 0 1%;
}
.layout_name_inline {
  left: 18%;
  margin-left: 2%;
  margin-right: 0;
  position: relative;
  width: 60%;
}
.layout_name_right {
  margin-left: 0;
  padding: 0 0 0 1%;
  width: 18%;
}
/* markup level */
/* all markup types variantes like: */
/* doc_header */
.doc_header {
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1%;
  margin-bottom: 2%;
}
.doc_header h1 {
  font-size: 2em;
  margin-top: 2%;
}
.doc_header .editing_true {
  background: #ecf0f1;
  padding: 5px 10px;
}
.doc_header time {
  font-size: .9em;
}
body.render_active_doc_options .editing_:hover {
  background: #ecf0f1;
  padding: 5px 10px;
}
html.is_home_true .doc_header h1,
html.is_home_true .doc_header .post-author-card,
html.is_home_true .doc_header time {
  display: none;
}
/*render modes active*/
div.branding {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: none repeat scroll 0 0 #000;
  border-radius: 4px;
  color: #fff;
  height: 60px;
  left: 10px;
  position: absolute;
  text-align: center;
  top: 10px;
  transition: top 0.2s linear 0s, left 0.2s linear 0s, opacity 0.2s linear 0s;
  width: 60px;
  z-index: 700;
}
div.branding h1 a {
  display: block;
  float: left;
  height: 60px;
  width: 100%;
}
.quick_tool_opener {
  background: none repeat scroll 0 0 #292929;
  border-radius: 6px;
  font-size: 1.2em;
  line-height: 1em;
  opacity: 0.6;
  padding: 2px 3px 2px 3px;
  position: fixed;
  right: 2.5%;
  top: 17px;
  z-index: 99999;
  color: #fff;
}
.quick_tool_opener.visible_yes {
  opacity: 1;
  background: #2980b9;
}
.quick_tools {
  top: -536px;
  position: fixed;
  width: 96%;
  font-size: 1.1em;
  display: block;
  padding: 2%;
  background: none repeat scroll 0 0 #fff;
  z-index: 99;
}
.quick_tools.visible_yes {
  background: none repeat scroll 0 0 #ecf0f1;
  top: 76px;
  transition: background 1.2s linear 0s, top 0.2s linear 0s;
}
.quick_tools a {
  text-decoration: underline;
}
.quick_tools .inside {
  float: right;
  width: 40%;
}
.quick_tools .edit_box {
  background: none repeat scroll 0 0 #fff;
  border-right: 1px solid #292929;
  float: left;
  width: 27%;
  padding: 0 3% 0% 0%;
}
.fixed_tools {
  /* 
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    */
  background: #fff;
  bottom: 0;
  display: block;
  height: auto;
  padding: 1% 20%;
  position: fixed;
  transition: opacity 0.2s linear 20s;
  width: 60%;
  z-index: 99999;
}
.fixed_tools .ranges {
  float: left;
  width: 100%;
}
.fixed_tools .pusher_items {
  float: left;
  width: 100%;
}
.btn_pusher {
  background: none repeat scroll 0 0 #95a5a6;
  border: 1px solid #7f8c8d;
  border-radius: 4px;
  font-size: 13px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0 2px;
}
.doc_editor {
  background: none repeat scroll 0 0 #95a5a6;
  float: left;
  margin-bottom: 4%;
  padding: 2%;
  text-align: left;
  width: 96%;
}
.doc_editor label {
  width: 100%;
  font-size: 0.8em;
  font-style: italic;
  float: left;
}
.doc_editor input {
  width: 46%;
  background: #ecf0f1;
  border: none;
}
.doc_editor textarea {
  max-width: 90%;
  margin-bottom: 2px;
  background: #ecf0f1;
}
.doc_editor img.thumbnail_input {
  border: 1px solid #ccc;
  display: inline;
  float: right;
  height: auto;
  margin-right: 0;
  max-height: 20%;
  max-width: 34%;
  padding: 2px;
  width: auto;
}
.doc_editor .doc_options_table {
  clear: both;
  border-top: 1px solid #dadada;
  padding-bottom: 10px;
}
.doc_editor .doc_options_table input {
  float: left;
  margin-right: 2%;
  width: 36%;
}
.doc_editor .doc_options_table i.fa {
  border: medium none;
  float: left;
  font-size: 1em;
  line-height: 2em;
  padding-left: 8px;
  padding-right: 7px;
  padding-top: 2px;
  width: auto;
}
.doc_editor .doc_options_item {
  float: left;
  width: 100%;
}
.editor_zone {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  padding-bottom: 10px;
  padding-right: 3%;
  width: 97%;
}
.editor_zone textarea {
  min-height: 200px;
  margin-bottom: 20px;
}
.section_displayer input {
  width: 60%;
  background: none repeat scroll 0 0 #fff;
  border: medium none;
}
.section_displayer label {
  float: left;
  width: 100%;
  font-style: italic;
}
.section_displayer .section_editor {
  background: #ecf0f1;
  float: left;
  padding: 2%;
  width: 96%;
  margin-bottom: 5px;
}
.object-tools {
  background: #fff;
  padding: 2%;
  float: left;
  width: 96%;
  border-radius: 10px;
  margin-top: 10px;
}
.object-tools i.fa.fa-remove {
  float: right;
}
.markup_displayer:not(.markup_displayer_media) {
  padding: 2%;
  width: 96%;
  display: inline-block;
  float: left;
  margin-bottom: 2px;
}
.markup_displayer.is_editing_true {
  background: #ecf0f1;
  padding-bottom: 10px;
}
.markup_displayer label {
  float: left;
  width: 100%;
  font-style: italic;
}
.markup_displayer_markup {
  background: #ecf0f1;
}
.markup_displayer .mk_val {
  display: inline-block;
  float: right;
  font-size: 0.65em;
  line-height: 1.3;
  padding: 0;
  text-align: left;
  width: 86%;
}
.markup_displayer .mk_val.created {
  font-style: italic;
}
.markup_displayer .icon_col {
  display: inline-block;
  float: left;
  font-size: 0.7em;
  padding: 0;
  text-align: left;
  width: 10%;
}
div.markup_displayer_media .icon_col {
  float: right;
  width: auto;
  margin-right: 2%;
}
.markup_displayer_img .icon_col {
  width: 100%;
}
.markup_displayer.by_me_true .mk_val.username {
  background: #ebebf8;
  padding: 1%;
}
.markup_displayer img.doc_thumb {
  float: left;
  height: auto;
  margin-right: 2%;
  margin-top: 4px;
  width: 40%;
}
.markup_editor {
  width: 100%;
}
.markup_editor form input,
.markup_editor form textarea {
  max-width: 92%;
}
.markup_editor form span.field {
  float: left;
  width: 100%;
}
.markup_editor form span.field.numberfloat {
  width: 50%;
}
.markup_editor form .actions {
  float: left;
  width: 100%;
}
.markup_displayer.markup_displayer_doc_dark_block {
  background: #000;
  color: #fff;
}
.markup_displayer.markup_displayer_doc_dark_block h3 a {
  color: #fff;
}
.markup_displayer_subtype_doc_content_block .inside_child {
  display: block;
  float: left;
  padding: 2%;
  width: 96%;
}
.markup_displayer_subtype_doc_content_block .inside_child h4 {
  margin: 0;
}
.markup_displayer_subtype_doc_content_block .inside_child h3 {
  font-size: 1.8em;
  line-height: 1.1em;
  margin: 0;
}
i.fa-img {
  background: none repeat scroll 0 0 #ffffff;
  float: right;
  position: relative;
  right: 5px;
  top: -33px;
  width: 14px;
  z-index: 9999;
}
i.fa-img:before {
  content: "ï€¾";
  display: block;
}
.fa.selected_true {
  color: #1abc9c;
}
.layout_ i.fa {
  border: 1px solid;
  border-radius: 5px;
  display: block;
  font-size: 10px;
  padding: 2px 2px 3px 3px;
  text-align: center;
}
.layout_name_left i.fa {
  float: left;
  margin-right: 0;
}
.layout_name_right i.fa {
  float: left;
  margin-right: 2px;
  margin-top: 3px;
}
.css-form input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}
.css-form input.ng-valid.ng-dirty {
  background-color: #78FA89;
}
/* cms part */
.main_center {
  margin-left: 18%;
  width: 60%;
  float: left;
  margin-top: 70px;
}
.main_center a {
  text-decoration: underline;
}
.color_avatar {
  height: 80px;
  width: 80px;
  float: left;
  background-image: url("/img/avatar-mask-white.png");
}
.color_avatar.mini {
  background-size: 12px 12px;
  height: 12px;
  width: 12px;
  margin-right: 1%;
}
.login_form .left_part {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  margin-right: 2%;
  padding-right: 5%;
  width: 41%;
}
.login_form .right_part {
  float: left;
  padding-top: 52px;
  width: 30%;
}
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  clear: both;
  float: left;
  font-size: 0.8em;
  margin-top: 15px;
  padding: 0.5% 0 0;
  text-align: center;
  width: 100%;
}
/* mixins */
/* RESPONSIVE */
@media (max-width: 720px) {
  body {
    /* padding-top:60px */
    font-size: .8em;
  }
  div.branding {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    left: 0px;
    position: absolute;
    top: 0px;
    padding: 1%;
    width: 98%;
    /* background: transparent; */
    background: rgba(0, 0, 0, 0.5);
  }
  div.branding h1 a {
    background: transparent;
  }
  .quick_tools .inside {
    width: 90%;
  }
  .quick_tool_opener {
    padding: 5px 5px 6px 7px;
    right: 3.5%;
    top: 17px;
  }
  .quick_tool_opener.fa:before {
    font-size: 1.9em;
  }
  .quick_tools.visible_yes {
    top: 74px;
  }
  .doc_header {
    margin-top: 80px;
  }
  .layout_name_right {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    left: 0;
    margin-left: 2%;
    margin-top: 0;
    padding: 0;
    width: 95%;
  }
  .layout_name_right.has_count_0 {
    border-bottom: none;
    margin-bottom: 10px;
  }
  .layout_name_left {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    left: 4%;
    margin-top: 0;
    padding: 0;
    width: 95%;
  }
  .layout_name_center,
  .layout_name_under,
  .layout_name_global {
    padding: 0 0;
    width: 95%;
  }
  .layout_name_inline {
    left: 0;
    padding: 0 0;
    width: 95%;
  }
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea {
    width: 94%;
    margin-right: 1%;
  }
}
