


.post-author-card
 // p {{doc.user}}
 
 a(title="Go to url of {{doc.user.username}}",class="post-author-image" , href="{{doc.user.website_url}}")
  span.img-border( title="{{doc.user.username}} avatar", style="background-image:url({{doc.user.image_url}}); border-color:{{user.color}}; ")


 div.post-author-info
  
  a(style="color:{{doc.user.color}}; ", class="post-author-name", rel="author" ,title="Go to the profile of {{doc.user.username}}" , href="{{doc.user.website_url}}") {{doc.user.username}} 
   //span {{doc.user.facebook.quotes}}

  
  p {{doc.user.short_bio}}
 div.doc-author-icons()
  a(ng-if='has_icon("has_lab", user)')
   i.icon-puzzle-piece
  a(ng-if='has_icon("has_earlyadopter", user)')
   i.icon-beaker(title="early adopter")
  a(ng-if='has_icon("has_outoffrance", user)')
   i.icon-suitcase(title="hors de France")
  a(ng-if='has_icon("has_bitwallet", user)')
   i.icon-btc(title="pay with bitcoins")
//  
