// Branding logo
div.loading(class="is_{{ui.loaded}}") 
	// span {{ui.loaded}}

div(class="branding {{doc_options.branding_class.value}}")
	h1
		a(href="/#!", title="back to {{doc.room.name}}") 
			span {{doc.room.slug}}

i.fa.fa-cog.inactive.quick_tool_opener(class="inside visible_{{ui.menus.quick_tools.open}}", ng-click="expand_tools('quick_tools')")
div.quick_tools(class="inside visible_{{ui.menus.quick_tools.open}}")
	div.user_in(ng-if="userin.username !== '' ")
			div.user_box
				p
					em 
						a(href="/me/account") {{userin.username}}
						
			div.action_box
				p 
					a(ng-click="toggle_render('editor')") editor mode


	div.user_not_in(ng-if="userin.username == '' ")
		div.user_box
			a(href="/login?redirect_url=#{root_url}/doc/{{doc.slug}}" , ng-if="userin.username == '' ") log in 
			// a(ng-click="external_link(root_url+'/auth/facebook')" , ng-if="userin.username == '' ") log in with facebook

		
div.fixed_tools(ng-if="ui.renderAvailable_active == 'editor'")

	.inside
		
		span.ranges
			span.ranges_start_end selection from {{ui.selected_range.start}}  to {{ui.selected_range.end}}
		span.textrange
			{{ui.selected_range.textrange}} 
		span.pusher_items(ng-if="ui.selected_range.start !==null && ui.selected_range.end !==null " )
			span.pusher_item_pusher_h1
				a.btn_pusher.btn_h1(ng-click="push_generic_from_ranges('markup', 'h1','inline')") h1
				
			span
				a(ng-click="push_generic_from_ranges('markup', 'em','inline')") em
			span
				a(ng-click="push_generic_from_ranges('markup', 'code','inline')") code 
			span
				a(ng-click="push_generic_from_ranges('markup', 'list-item ','inline')") list-item
			span
				a(ng-click="push_section()") push_section
