



div.user_not_in(ng-if="userin.username == '' ")
				a(ng-click="external_link(root_url+'/auth/facebook')" , ng-if="userin.username == '' ") {{i18n.CUSTOM.COMMENT.needs_logging}}



div.user_in(ng-if="userin.username !== '' ")
	p 
		em 
				{{userin.username}}
			
	p Your comment
		textarea(ng-model="push.metadata", type="text")

	// p position
		input(ng-model="push.position" ,type="text")
	// p start
		input(ng-model="push.start" ,type="text")
	// p end
		input(ng-model="push.end", type="text")

	a(ng-click="push_comment()") 
		{{i18n.CUSTOM.COMMENT.verb}}
