div.user_not_in(ng-if="userin.username == '' ")
	p 
		a(ng-click="external_link(root_url+':'+port+'/login')" , ng-if="userin.username == '' ") {{render_config.i18n.CUSTOM.COMMENT.needs_logging}}
	p
		a.loginOrSignup(ng-click="external_link(root_url+'/login?redirect_url=#{root_url}:#{port}/doc/'+doc.slug)" , ng-if="userin.username == '' ") {{render_config.i18n.CUSTOM.USER.loginOrSignup}}

div.user_in(ng-if="userin.username")
	
	span.floating-edit
		//span(ng-if="doc.published == 'draft'") a&nbsp; 
		// select(ng-model="push.type", name="push.type")
			option(value="note" ) note
			option(value="semantic") semantic
			option(value="comment" ) comment
			option(value="media") media
		// select(ng-model="push.position", name="push.position")
			option(value="left" ) left
			option(value="right") right
			option(value="under" ) under

	p
		label {{render_config.i18n.CUSTOM.ACTIONS.add}} {{render_config.i18n.CUSTOM.OBJECTS[push.type]}} 
	
	p(ng-hide="ui.selected_range.start || ui.selected_range.end")
		label Select a range of text first



	p(ng-if="ui.selected_range.start || ui.selected_range.end") {{ui.selected_range.start}} - {{ui.selected_range.end}}

	p(ng-if="push.rangetext") 
		label {{push.rangetext}}
	textarea(ng-model="push.metadata", type="text", value="{{render_config.i18n.CUSTOM.COMMENT.textarea}}") 
	
	p.logged_in_as 
		{{render_config.i18n.CUSTOM.COMMENT.logged_in_as}} 
		em 
			a(href="/me/account") {{userin.username}}
	p
		a.btn_ok.float_right(ng-show="ui.selected_range.start || ui.selected_range.end" ng-click="add()") {{render_config.i18n.CUSTOM.ACTIONS.add}}