.one.columns 
.ten.columns
  // span.filter_dataset_by filtered by :{{filter_dataset_by}} 
  // a.filter_dataset_by_next(ng-click="slide_filter_dataset_by('filter_dataset_available')")  &raquo; {{filter_dataset_by_next}}
  table(style="width:100%;")
    thead 
      tr
        th Select
        th Actions
        th type
        th subtype
        th metadata
        th start-end
        th position
        th section index
        th isolated.
        th sel.
        th ed.
        th status.
        
        th moderation.
    tbody()
      tr(ng-controller="MarkupCtrl" ng-repeat="markup in markups" class="trtype-{{markup.type}}")
        // , ng-if="markup.type==filter_dataset_by || filter_dataset_by == 'any'"
        td()
         span.markup-item-subtype(ng-click="toggle_select_markup('click')", class="clipped_{{markup.isselected}} markup-hn_{{markup.subtype}}" ) + 
         
        td
         i.fa.fa-save.btn_action(tooltip-placement="right" tooltip="{{render_config.i18n.CUSTOM.ACTIONS.save}}" ng-click="markup_save(markup)")

        

         i.fa.fa-remove.btn_action(tooltip-placement="right" tooltip="{{render_config.i18n.CUSTOM.ACTIONS.delete}}" ng-click="markup_delete(markup)")
        td {{markup.type}}
        td 
          input(ng-model="markup.subtype" , type="text")
        td 
         input(ng-model="markup.metadata" , type="text")
        td {{markup.start}} - {{markup.end}}
        td {{markup.position}}
        td {{markup.sectionin}}
        td {{markup.isolated}}
        td 
          span {{markup.selected}}
        td
          span {{markup.editing}}
        td
          span {{markup.status}}
        td
          i.fa.fa-check.btn_action(tooltip-placement="left" tooltip="set as approved" ng-click="markup_moderate(markup, 'approved')") 
          i.fa.fa-close.btn_action(tooltip-placement="left" tooltip="set as pending" ng-click="markup_moderate(markup, 'pending')") 

.one.columns
  a(ng-click="Grabcollection('select')") Grabcollection (test function)
  div.collection
   // code
    {{collection}}
   ul
    code(ng-repeat="c in collection") {{c.subtype}}:{{c.metadata}} 
  a(ng-click="toggle_render('read')") Reading mode
