time(ng-bind="formated_date", ng-click="extend_date()" ) 
.fragment_editor( ng-if="render_layout=='fragments'" ) 
  span 
   i.icon-move(ng-controller="FragmentCtrl" ,  ng-click="_toggle_position('date_fragment')") 