// editor to add/edit/delete options
// todo :
//  * i18n
//  * api for delete and create

div.doc_editor()
	h4 Document options
	.edit_field_left
		.edit_field.excerpt_field
			label "L'extrait"
			textarea(ng-model="doc.excerpt")
			i.fa.fa-save(ng-click="edit_doc('excerpt')")
									
		.edit_field.room_field
			label Published in "room" ID : {{doc.room.slug}}
			input(type="text" ,ng-model="doc.room__id", name="doc.room__id")
			i.fa.fa-save(ng-click="edit_doc('room_id')")

		.edit_field.user_field
			label User ID : {{doc.user.username}} (transmit ownership)
			input(type="text" ,ng-model="doc.user._id", name="doc.user._id")
			i.fa.fa-save(ng-click="edit_doc('user_id')")

		.edit_field.published_field
			label published
			select(ng-model="doc.published", name="doc.published")
				option(value="{{doc.published}}") {{doc.published}}
				option(value="draft") draft
				option(value="public") public
			i.fa.fa-save(ng-click="edit_doc('published')")

	.edit_field_right
		.edit_field.thumbnai_field
			label "thumbnail" image url
			input(type="text",ng-model="doc.thumbnail", name="doc.thumbnail") 
			i.fa.fa-save(ng-click="edit_doc('thumbnail')")
			img.thumbnail_input( ng-src="{{doc.thumbnail}}")

	label Other options

	div.doc_options_table
		div.doc_options_item(ng-repeat="opt in doc.doc_options")
			label {{opt.option_name}}
			input(name="doc_options[opt.option_name]", type="text", ng-model="doc_options[opt.option_name].value")
			i.fa.fa-save(ng-click="saveDm(opt.option_name)")
			// i.fa.fa-remove(ng-click="deleteDm(opt.option_name)")  

		// i.fa.fa-plus(ng-click='newDm()') new option
