// the document title, time, author... 
// + document options editor

div.doc_header

	h2(ng-bind-html="doc_options.doc_notices_before_title.value")

	// h2(ng-bind-html="doc_options.doc_notices_before_title.value+'&nbsp;'" , class="editing_{{ui.editing_doc_notices_before_title}}" , ng-dblclick="edit_doc_option('doc_notices_before_title')") 
		
	//.edit_field(ng-if="ui.editing_doc_notices_before_title")
		label Edit "Before Title"
		input(ng-if="ui.editing_doc_notices_before_title",   ng-model="doc_options.doc_notices_before_title.value", name="doc_options.doc_notices_before_title.value")
		a.btn_ok.float_right(ng-click="edit_doc_option('doc_notices_before_title')") Save

	h1(ng-bind-html="doc.title+'&nbsp;'", ng-dblclick="edit_doc('title')")
	.edit_field(ng-if="ui.editing_title")
		label Edit "Title"
		input(ng-model="doc.title")
		a.btn_ok.float_right(ng-click="edit_doc('title')") Save

	h3(ng-bind-html="doc_options.doc_notices_after_title.value")

	// h3(ng-bind-html="doc_options.doc_notices_after_title.value+'&nbsp;'" , class="editing_{{ui.editing_doc_notices_after_title}}" , ng-dblclick="edit_doc_option('doc_notices_after_title')") 
	// .edit_field(ng-if="ui.editing_doc_notices_after_title")
		label Edit "after Title"
		input(ng-if="ui.editing_doc_notices_after_title",   ng-model="doc_options.doc_notices_after_title.value", name="doc_options.doc_notices_after_title.value")
		a.btn_ok.float_right(ng-click="edit_doc_option('doc_notices_after_title')") Save


	time(ng-bind-html="doc.formated_date")
	div.head_left
		div.post-author-info
			p {{i18n.CUSTOM.DOCUMENT.by_author}} 
				span(style="color:{{doc.user.color}};", class="post-author-name", rel="author") {{doc.user.username}} 

	div.sharer
		a(class="twitter-share-icon", ng-class="", href="https://twitter.com/intent/tweet?text={{doc.excerpt}} {{doc.encoded_url}}")
			i.fa.fa-twitter
		a(href="https://www.facebook.com/sharer/sharer.php?u={{doc.encoded_url}}")
			i.fa.fa-facebook-square