div
	label text content (without html markup)
	textarea(type="text", ng-model="doc.content")
	a.btn_ok.float_right(ng-click="doc_sync()") SAVE


// div.text_helpers.bg_debug() 
		// ng-if="ui.debug"
		a(ng-click="switch_focus_side('left')") focus side left
		a(ng-click="switch_focus_side('right')") focus side right
		a(ng-click="switch_focus_side('center')") focus __

	
		p text length : {{doc.content.length}}
		p old size :{{ui.selected_range.diff_old_size}}
		p new size : {{ui.selected_range.diff_new_size}}		
		p diff position {{ui.selected_range.diff_at}}		
		p diff qty : {{ui.selected_range.diff_qty}}
		p direction : {{ui.selected_range.diff_dir}}
		p count: {{ui.selected_range.diff_objects_concerned_count}}

		div(ng-repeat="mk in ui.selected_range.markups_to_offset")
			p start {{mk.start}} +/- : {{mk.offset_start}} end {{mk.end}} +/- : {{mk.offset_end}} {{mk.type}}

		div(ng-repeat="mk in doc.markups")
			p start {{mk.start}} - {{mk.type}} {{mk.position}}
				a(ng-click="reset_markup(mk)") reset (as start 0 end 1 type -comment)



		// div(ng-repeat="isolated in ui.isolated_markups")
			p isolated markup @:  {{isolated.start}} {{isolated.end}} {{isolated.type}} 
			a(ng-click="reset_markup(isolated)") reset (as start 0 end 1 type -comment)

