// FLASH Message
div()
	span.inside
		span(ng-bind-html="flash_message.text") 
		span.flash_closer(ng-click="flash_message.text = ''" ng-if="flash_message.closer === true")
			i.fa.fa-times-circle( )
