
// displayers

fluidvids(ng-if="a.type=='player'", ng-controller="FragmentCtrl", src="", position="{{a.position}}", sectionindex="{{$parent.$index}}" , kind="{{a.subtype}}", autoplay="no", video="{{a.metadata}}")
 i.icon-picture.img-clicker(ng-controller="FragmentCtrl", ng-dblclick="dbc_object(a)",  ng-click="_select_object(a,a.position,sorted_section,'-1')")


.twelve.column(ng-if="a.type=='child_section'" ,class="child_doc_block block_type_{{a.type}} {{a.ext_doc_array_dm['block_color']}} {{a.ext_doc_array_dm['block_bgcolor']}} block_section_{{a.ext_doc_array_doc[0].doc.section}}")
  h5(ng-bind-html="a.metadata")
  div
    a(ng-click="godoc(a.ext_doc_array_doc[0].doc)")
     img(src="{{a.ext_doc_array_dm['image_thumb']}}") 
  h3 
   a(ng-click="godoc(a.ext_doc_array_doc[0].doc)") {{a.ext_doc_array_doc[0].doc.title}}
  p(ng-bind-html="a.ext_doc_array_dm['short_excerpt']")
  i.icon-sitemap.child_section-clicker( ng-controller="FragmentCtrl", ng-dblclick="dbc_object(a)",  ng-click="_select_object(a,a.position,sorted_section,'-1')")



.twelve.column.npadr(ng-controller="FragmentCtrl", class="iblock {{a.type}}s subtype_{{a.subtype}}" , ng-if="(a.type=='data') || (a.type=='note')")
  
 
 i(ng-click="_select_object(a,a.position,sorted_section,'-1')", ng-dblclick="dbc_object(a)",  title="Select / edit {{a.subtype}}", class="fragment_icon type_{{a.type}} subtype_{{a.subtype}} already_{{a.tochange}} selected_icon_{{a.isselected}}") {{a.subtype[0]}}

 p.smallt(ng-bind-html="a.metadata", class="mtvalue idepth idepth_{{a.depth}}") 


.twelve.column.img_container(ng-controller="FragmentCtrl" , ng-if="a.type=='player'")
 i(ng-click="_select_object(a,a.position,sorted_section,'-1')", ng-dblclick="dbc_object(a)",  title="{{a.subtype}}", class="fragment_icon type_{{a.type}} subtype_{{a.subtype}} already_{{a.tochange}} selected_icon_{{a.isselected}}") {{a.subtype[0]}}

 

.twelve.column.img_container(ng-controller="FragmentCtrl" , ng-if="a.type=='img'") 

 img(data-tdid="{{a.id}}" , ng-src="{{a.metadata}}")
 i.icon-picture.img-clicker(ng-dblclick="dbc_object(a)", ng-click="_select_object(a,a.position,sorted_section,'-1')")
 .media-info
   .metainfo.metainfo_img(ng-if="a.ext_doc") 
      span.media_description 
       {{a.ext_doc_array_dm['media_description']}}
      span.media_license
        a.media_licence_link(href="", title="{{a.ext_doc_array_dm['licence_subtype']}} - {{a.ext_doc_array_dm['licence_type']}}")
        span(class="{{a.ext_doc_array_dm['licence_subtype']}}" )
          {{a.ext_doc_array_dm['licence_subtype']}} 
        span(class="{{a.ext_doc_array_dm['licence_type']}}" )
          {{a.ext_doc_array_dm['licence_type']}}
        a.media_credit_link(href="{{a.ext_doc_array_dm['credit_link']}}") {{a.ext_doc_array_dm['credit_text']}}

      
.metaedit(ng-controller="FragmentCtrl" , ng-if="a.status =='editing' ")
 form(name="myForm")
  p 
   label(ng-if="a.type=='child_section'") Label for block:  
    input(ng-model="a.metadata")
  p
   label(ng-if="a.type=='child_section'") External doc link:
    input(ng-model="a.ext_doc", ng-init="a.ext_doc") {{a.ext_doc}}   
  p
   label.mtv(ng-if="a.type=='note'") Note content
    textarea(ng-model="a.metadata")
  p
   label.mtv(ng-if="a.type=='data'") Data value
    input(ng-model="a.metadata")
  p
   label.mtv(ng-if="a.type=='player'") Player url
    input(ng-model="a.metadata")
  p
   label.mtv(ng-if="a.type=='summary-block'") Summary content
    textarea(ng-model="a.metadata")
  p
   label.mtv(ng-if="a.type=='img'") Media url
    input(ng-model="a.metadata")
  p
   label(ng-if="a.type=='child_section'") External doc ID
    i.icon-search(ng-click="_lookup_obj(a)")
    i.icon-external-link(ng-if="a.extref", ng-click="_setref_obj(doc.id, a.id, a.extref)") 

  p
   label.numberfloat {{ilc[p_lang]['start']}} :
    input.numberfloat(required ,max="{{sorted_section.end}}" , min="{{sorted_section.start}}",  type="number" , ng-model="a.start" , ng-change="editing_object_range(a,a.start, a.end)")
   label.numberfloat {{ilc[p_lang]['end']}} :
    input.numberfloat(required , max="{{sorted_section.end}}", min="{{sorted_section.start}}", type="number" , ng-model="a.end" ,   ng-change="editing_object_range(a, a['start'], a['end'])")
   
   span(ng-if="(a.position !== 'global') && (myForm.$error.required[0])") is empty 
   span(ng-if="myForm.$error.number") is not a number  
   span(ng-if="(a.position !== 'global') && myForm.$error.min") is not in range of section (= {{sorted_section.start}} )
   span(ng-if="(a.position !== 'global') &&  myForm.$error.max") is not in range of section (= {{sorted_section.end}} )

   //span valid overall      -  {{myForm.$valid}}

  p
   label.label_type type
    select(ng-model="a.type", ng-options="t for t in fragment_types")
    option(value="a.type")
    option(value="t") {{t}}
  p 
   label.label_subtype subtype
    select(ng-model="a.subtype", ng-options="s for s in fragment_sub_types")
     option(value="a.subtype") 
     option(value="s") {{s}}
  p
   label.numberfloat.label_depth  depth
    input(min="0", max="99", required , type="number" , ng-model="a.depth")
  
  //p
   label Position
    select(ng-model="a.position", ng-options="p for p in available_positions_objects_flat")
     option(value="a.position") 
     option(value="p") {{p}}

  div.twelve.columns.npadlr
   i.icon-save(ng-show="(a.position == 'global') ||  myForm.$valid",ng-click="_save(a)")
   i.icon-remove(ng-click="_remove_object(a, a.position, sorted_section , $parent.$index)")
   i.icon-move.right(ng-click="_toggle_position(a)")


