span.pusher

	.pusher_markups
		ul.typer.sub
			li.pusher_item(class="" ng-repeat="t in objSchemas['markup'].modes.editor.fields.subtype.available") 
				i.fa.btn_action(tooltip="insert markup" class="fa-{{t}}" ng-click="push_generic_from_ranges('markup', t,'inline')" ) 
			
			li.pusher_item(class="") 
				i.fa.btn_action(tooltip="insert markup" class="fa-media" ng-click="open_pusher_details('media')" ) 

	.pusher_range(ng-if="ui.selected_range.end && ui.selected_range.start || ui.selected_range.start ===0" )
		span.ranges
			span.ranges_start_end Selected letters from {{ui.selected_range.start}}  to {{ui.selected_range.end}}
			// span.textrange
				{{ui.selected_range.textrange}} 


// textarea(type="text", ng-model="section.fulltext")
//h4 {{section.start}} - {{section.end}} - {{section.metadata}} - {{section.type}} - {{section.subtype}}
// p {{ui.selected_range}}
// debug
// h1 {{ui.selected_section_index}}
// h2 {{ui.selected_range}}
