span.pusher
	
	.pusher_markups
		{{available_sections_objects}}
		tabset.editor-main-tab()
			tab(ng-if="object=='markup' || object=='container_class'" heading='{{object}}' ng-repeat="object in available_sections_objects") 

				div(ng-if="object=='markup'")
					ul.typer.sub
						li.pusher_item(class="" ng-repeat="t in objSchemas[object].modes.editor.fields.subtype.available") 
							i.fa.btn_action(tooltip="insert markup" class="fa-{{t}}" ng-click="push_generic_from_ranges('markup', t,'inline')" ) 
						li.pusher_item(class="") 
							i.fa.btn_action(tooltip="insert markup" class="fa-media" ng-click="push_generic_from_ranges('media', 'img','right', 'http://hacktuel.fr/img/lorem/400-400.jpg')" ) 
				div(ng-if="object=='container_class'")
					i.fa.btn_action(tooltip="insert markup" class="fa-{{t}}" ng-click="push_generic_from_ranges('container_class','css','inline', 'bg_dark')" ) text white
				
					i.fa.btn_action(tooltip="insert markup" class="fa-{{t}}" ng-click="push_generic_from_ranges('container_class','css','inline', 'bg_black')" ) background black
				

			// li.pusher_item(class="") 
				i.fa.btn_action(tooltip="insert markup" class="fa-media" ng-click="open_pusher_details('media')" ) 
		




	.pusher_range(ng-if="ui.selected_range.end && ui.selected_range.start || ui.selected_range.start ===0" )
		span.ranges
			// p {{ui.selected_range.insert}} 
			span.ranges_start_end Selected letters from {{ui.selected_range.start}}  to {{ui.selected_range.end}}
			// span.textrange
				{{ui.selected_range.textrange}} 

		
// textarea(type="text", ng-model="section.fulltext")
// h4 {{section.start}} - {{section.end}} - {{section.metadata}} - {{section.type}} - {{section.subtype}}
// p {{ui.selected_range}}
// debug
// h1 {{ui.selected_section_index}}
// h2 insert : {{ui.selected_range.insert}}
// h2 insert_scratch :{{ui.selected_range.insert_scratch}}
// h4 {{push}}
// em {{ui.selected_range}}
div.sectiondebug(ng-if="ui.debug")
	h1 {{ui.selected_range.start}} - {{ui.selected_range.end}}
// h1 {{ui.current_action}}
// h5 {{ui.cursor_at}}
// h4 {{ui.selected_range.start}}
// h1 {{ui.current_action}}

// em at start : {{section.cursor_at_start}}
// em at end : {{section.cursor_at_end}}
// h2 stack ({{ section.debuggr.length }})
// div(ng-repeat="mess in section.debuggr track by $index")
				em {{mess}}