.six.columns.col-text.npadr.padl(ng-dblclick="dbc_text(sorted_section)" , ng-controller="LetterCtrl", spellCheck="false" , contentEditable="false" )

 .html_ed.columns.twelve.npadlr.never_black.composer_ed-container(ng-controller="SectionCtrl" , ng-if="sorted_section.mode == 'section_edit' ")
  
  //p
    i.icon-remove( ng-click="_remove_section('section','', sorted_section, $index)" ) delete section
  //p
    i.icon-plus(ng-show='$last', ng-click="_add_section(sorted_section, $last)") add section
  //p
    i.icon-fast-backward(ng-click="_cut_section(sorted_section, $index,'left', 100)") zeze;
  div.twelve.columns.action_info
   div.six.action_info.columns.never_black.classesofsections(ng-repeat="a in classesofsections")
    label {{a.notice}}
     input(type="checkbox", ng-click="section_toggle_class(a, $parent.$index)", ng-checked="section_has_class(a.icon, $parent.$index)") 
    

   // i.icon-fast-backward(ng-show="($index > 1)", ng-click="cut_section(sorted_section, $index,'left', 100)") &nbsp; &nbsp;
   // i.icon-step-backward(ng-show="($index > 0)", ng-click="cut_section(sorted_section, $index,'left', 1)") &nbsp; &nbsp;
   // i.icon-fast-forward(ng-show="true", ng-click="cut_section(sorted_section, $index,'right', 100)") 
   // i.icon-step-forward(ng-show="true", ng-click="cut_section(sorted_section, $index,'right', 1)") 
  
 


 .html_ed.columns.twelve.npadlr.never_black.composer_ed-container( ng-if="sorted_section.mode == 'text_edit' ")
  textarea(ng-controller="LetterCtrl", ng-model="sorted_section.text_content.fulltext.cur", ng-change="updateFulltext()")
 // html editor.. 
 .html_ed.columns.twelve.npadlr.html_ed-container( ng-if="sorted_section.mode == 'markup_edit' ")


  .html_ed.html_ed-before.columns.twelve.npadlr
  
  
  .columns.twelve.never_black.html_ed_lvl.html_ed_markups.npadlr
   .html_ed.markups-H16.columns.three.npadl(ng-controller="FragmentCtrl")
    span.markup-hn_h1( ng-click="push_fragment('markup','h1','inline', '','','','','')" ) h1
    span.markup-hn_h2( ng-click="push_fragment('markup','h2','inline', '','','','','')" ) h2
    span.markup-hn_h3( ng-click="push_fragment('markup','h3','inline', '','','','','')" ) h3
    span.markup-hn_h4( ng-click="push_fragment('markup','h4','inline', '','','','','')" ) h4
    span.markup-hn_h5( ng-click="push_fragment('markup','h5','inline', '','','','','')" ) h5
    span.markup-hn_h6( ng-click="push_fragment('markup','h6','inline', '','','','','')" ) h6

   .html_ed.markups-classic.columns.seven(ng-controller="FragmentCtrl")
    span.markup-hn_em(ng-click="push_fragment('markup','em','', '','', '',cranges['start'],cranges['end'] ,cur_sel['section_index'])" ) em
    span.markup-hn_strong(ng-click="push_fragment('markup','strong','', '','', '',cranges['start'],cranges['end'] ,cur_sel['section_index'])" ) strong 
    span.markup-hn_strike(ng-click="push_fragment('markup','strike','', '','', '',cranges['start'],cranges['end'] ,cur_sel['section_index'])" ) strike
    span.markup-hn.list-item(ng-click="push_fragment('markup','list-item','inline', '','', '',cranges['start'],cranges['end'] ,cur_sel['section_index'])" ) list-item
    span.markup-hn_link(ng-click="subfield_fragment('link', ilclink)" ) link
    span.markup-hn_img(ng-click="subfield_fragment('img', ilclink)" ) img
  
   .html_ed.markups-classic.columns.two(ng-controller="FragmentCtrl")
    span.markup-hn_enclose( ng-click="enclose_fragment()") enclose 
    span.markup-hn_push-to_next(ng-click="push_to_next_section(sorted_section, $index)") push to next

   


  .columns.twelve.html_ed_lvl.npadlr 

   .html_ed.html_ed-ranges.columns.twelve.npadl
    form(name="my")
      label.editor_left_start_ranges() from:
       input(type="number", ng-model="cranges['start']",  ng-change="change_textarea_range(cranges['start'], cranges['end'], cranges['side'])")
      label.editor_left_start_ranges() to:
       input(type="number", ng-model="cranges['end']", ng-change="change_textarea_range(cranges['start'], cranges['end'], cranges['side'])" ) 
      
      p 
       label(ng-if="cur_sel['html_editor']['link_field']") link url
        input( ng-model="ilclink") 
        i.icon-ok-sign.span.markup-hn_link(ng-controller="FragmentCtrl", ng-if="cur_sel['html_editor']['link_field']" , ng-click="push_fragment('markup','link','inline', '', ilclink, '',cranges['start'],cranges['end'] ,cur_sel['section_index'])" )

      p
       label(ng-if="cur_sel['html_editor']['img_field']") img url
        input(ng-model="ilcimgurl")  
        i.icon-ok-sign.span.markup-hn_img(ng-controller="FragmentCtrl", ng-if="cur_sel['html_editor']['img_field']" , ng-click="push_fragment('img','img','left', '', ilcimgurl, '',cranges['start'],cranges['end'] ,cur_sel['section_index'])" )






 // p {{sorted_section.text_content.status}}
 // p {{sorted_section.text_content.inserted}}
 // p {{sorted_section.text_content.fulltext.origin}}
 // p -
 // p {{sorted_section.text_content.fulltext.cur}}
 // h3 {{offset_count}} 

 // span {{updated}} {{last_push.width}} {{last_push.inserted_at}} {{last_push.direction}}
 // p current_letteraction : {{current_letteraction}}
 // p current_letter : {{current_letteraction}} - {{current_letter.lindex}} {{current_letter.char}}
 // p ranges cursel : {{rangemarkup.start}} - {{rangemarkup.end}}
 // textarea(ng-if="$index == cur_sel['section_index']" , ng-model="cur_sel['fulltext']", ng-change="updateFulltext(cur_sel['fulltext'])") {{cur_sel['fulltext_n']}}
 // p {{sorted_section.start}} -  {{sorted_section.end}}
 

 span(ng-repeat="a in letters[$index] track by $index", class="fi-{{a.fi_nd.fi}} nd-{{a.fi_nd.nd}} select-{{a.state.select}} action_{{a.action}}", ng-click="action_letter('click', a)")
  lt(ng-if="a.state.mode !=='lo'", ng-class="a.classes") {{a.char}}
   
 lt.lastletter
 //p.fulltext {{sorted_section.fulltext}}
 // span {{current_letter['char']}} {{current_letter['rindex']}} {{current_letter['classes']}} {{current_letteraction}}


 // p {{fts}}
 // p {{sizefulltext[cur_sel.section_index]}}
 // 