

// .tools_container(ng-if="ui.menus.push_markup.open == section.sectionin")
	p type 
		input(ng-model="push.type" ,type="text")
	p subtype
		input(ng-model="push.subtype" ,type="text")
	p position
		input(ng-model="push.position" ,type="text")
	p start
		input(ng-model="push.start" ,type="text")
	p end
		input(ng-model="push.end", type="text")
	p metadata
		input(ng-model="push.metadata", type="text")
	p status
		input(ng-model="push.status" ,type="text")
	p depth
		input(ng-model="push.depth" type="text" )
	p
		a(ng-click="push_markup()") push
	