// p {{markup.start}} - {{markup.end}} - {{markup.metadata}} - {{markup.type}} - {{markup.subtype}}
// && ui.renderAvailable_active == 'lire'"

div(class="markup_displayer markup_displayer_{{markup.type}} markup_displayer_subtype_{{markup.subtype}}  by_me_{{markup.by_me}} is_editing_{{markup.editing}}", ng-if="markup.type=='container_class' || markup.type=='note' || markup.type=='comment'||  ( markup.type =='markup')  || markup.type=='media' || markup.type=='generic' || markup.type=='child'  || markup.type=='semantic' " ) 
	
	img.mk_img(ng-if="markup.subtype=='img'" , data-tdid="{{markup.id}}" , ng-src="{{markup.metadata}}")

	span.icon_col(ng-hide="markup.type== 'child' ")
		i(class="fa fa-{{markup.type}} fa-{{markup.subtype}} editing_{{markup.editing}} selected_{{markup.selected}}",  ng-click="toggle_select_markup(markup)", ng-dblclick="toggle_select_markup(markup, 'dblclick')"  ) 
			span(ng-if="markup.type=='generic' ") {{markup.subtype[0]}}{{markup.subtype[1]}}{{markup.subtype[3]}}.

	/// i.fa.fa-remove.btn_action(ng-if="markup.type=='markup'", ng-click="markup_delete(markup)")

	span.mk_val.metavalue(ng-bind-html="markup.metadata",  ng-if="markup.type =='note' || markup.type =='generic' || markup.type =='comment' || markup.type =='container_class' || markup.type=='semantic' ") 
	span.mk_val.subtype(class="mk_val_subtype_{{markup.subtype}}", ng-if="markup.type=='markup'")  {{markup.subtype}} 
	span.mk_val.created(ng-if="markup.type =='note' || markup.type =='comment'") {{markup.created | date}}
	span.mk_val.username(ng-if="markup.type =='note' || markup.type =='comment' ") 
		{{markup.username}}
		span.color_avatar.mini(style="background-color:{{markup.user_options['color'].value}}")



	span(ng-if="markup.type == 'child' ")
		div.inside_child(style="background:{{markup.child_options.block_color}}")
			
			
			h4(ng-if="markup.metadata", style="color:{{markup.child_options.title_color}}" , ng-bind-html="markup.metadata" )
			
			a(href="#{root_url}/doc/{{markup.doc_id.slug}}") 
				img.doc_thumb(ng-src="{{markup.doc_id.thumbnail}}")
			h3 
				a(style="color:{{markup.child_options.title_color}}" , href="#{root_url}/doc/{{markup.doc_id.slug}}") {{markup.doc_id.title}}
			h4 
				a(style="color:{{markup.child_options.title_color}}" , href="#{root_url}/doc/{{markup.doc_id.slug}}") Par {{markup.doc_id.username}}
					
			p
				a(style="color:{{markup.child_options.title_color}}", href="#{root_url}/doc/{{markup.doc_id.slug}}", ng-bind-html="markup.doc_id.excerpt")

			span.icon_col
				i(class="fa fa-{{markup.type}} fa-{{markup.subtype}} editing_{{markup.editing}} selected_{{markup.selected}}",  ng-click="toggle_select_markup(markup)", ng-dblclick="toggle_select_markup(markup, 'dblclick')"  ) 

			// h4 {{markup.child_options.branding_class}}
			// h4(ng-bind-html="markup.metadata" )
			
	div(class="markup_editor markup_editor_{{markup.type}}", ng-if="markup.editing == true ")
		

		// a(href="", ng-if="markup.selected == true ", ng-click="toggle_select_markup(markup)") unselect 
		.object-tools
				i.fa.fa-save.btn_action(ng-click="markup_save(markup)")
				i.fa.fa-remove.btn_action(ng-click="markup_delete(markup)")
				i.fa.fa-sliders.btn_action(ng-click="object_tools(markup)")
		.section_tool_more(ng-if="markup.object_tools")
			div(ng-if="markup.subtype=='img'")
				p
					a(ng-click="replace_markup(markup, 'position', 'left')") move to left
				p
					a(ng-click="replace_markup(markup, 'position', 'right')") move to right
				p
					a(ng-click="replace_markup(markup, 'position', 'wide')") move to wide
			div(ng-if="markup.type=='markup'")
				p
					a(ng-click="offset_markup(markup, 0,1)") offset end+1
				p
					a(ng-click="offset_markup(markup, 0,10)") offset end+10
				p
					a(ng-click="offset_markup(markup, 1,1)") offset start+1, end+1
				p
					a(ng-click="offset_markup(markup, 1,0)") offset start+1


				p
					a(ng-click="offset_markup(markup, 0,-1)") offset end-1
				p
					a(ng-click="offset_markup(markup, -1,-1)") offset start-1, end-1
				p
					a(ng-click="offset_markup(markup, -1, 0)") offset start-1



			span.field.smallinput(ng-if="true")
				label status
				input( ng-model="markup.status" ,type="text")
			span.field.smallinput(ng-if="true")
				label  depth
				input( ng-model="markup.depth" type="text" )
			


		form(name="myForm")




			span.field
				label.label_type type
				select(ng-model="markup.type", ng-options="t for t in objAvailable")
					option(value="markup.type")
					option(value="t") {{t}}
			span.field
				label subtype
				input(ng-model="markup.subtype" , type="text")


			
			span.field(ng-if="markup.type=='child' ")
				label sub-doc id
				input(ng-model="markup.doc_id_id" , type="text")

			span.field 
				label position
				input(ng-model="markup.position" ,type="text")
			span.field.numberfloat
				label start
				input(required   type="number" , ng-model="markup.start" )

			span.field.numberfloat
				label end
				input(required  type="number" , ng-model="markup.end" )
				

			span.field.mt_input(class="mt_input_type_{{markup.type}} mt_input_subtype_{{markup.subtype}}", ng-if="markup.type !=='markup'") 
				label metadata
				// input or textarea
				input(ng-if="markup.type !=='comment'", ng-model="markup.metadata", type="text")
				textarea(ng-if="markup.type =='comment'", ng-model="markup.metadata")

			
			





			

