// p {{markup.start}} - {{markup.end}} - {{markup.metadata}} - {{markup.type}} - {{markup.subtype}}






// && ui.renderAvailable_active == 'lire'"



div(class="markup_displayer markup_displayer_{{markup.type}}", ng-if="markup.type=='container_class' || markup.type=='note' || markup.type=='comment'||  markup.type=='markup' || markup.type=='img' || markup.type=='generic'  " ) 
	
	img.mk_img(ng-if="markup.subtype=='img'" , data-tdid="{{markup.id}}" , ng-src="{{markup.metadata}}")

	span.icon_col
		i(class="fa fa-{{markup.type}} fa-{{markup.subtype}} editing_{{markup.editing}} selected_{{markup.selected}}",  ng-click="toggle_select_markup(markup)", ng-dblclick="toggle_select_markup(markup, 'dblclick')"  ) 
			span(ng-if="markup.type=='generic' ") {{markup.subtype[0]}}.



	p.mk_val.metavalue(ng-if="markup.type =='note' || markup.type =='generic' || markup.type =='comment' || markup.type =='container_class'") {{markup.metadata}}
	p.mk_val.subtype(ng-if="markup.type=='markup'")  {{markup.subtype}} 
	p.mk_val.created(ng-if="markup.type =='note' || markup.type =='comment'") {{markup.created | date}}
	p.mk_val.username(ng-if="markup.type =='note' || markup.type =='comment' ") {{markup.username}}

	
	

div.markup_editor(ng-if="markup.editing == true ")
	

	// a(href="", ng-if="markup.selected == true ", ng-click="toggle_select_markup(markup)") unselect 


	p type 
		input(ng-model="markup.type" ,type="text")
	p subtype
		input(ng-model="markup.subtype" ,type="text")
	p position
		input(ng-model="markup.position" ,type="text")
	p start
		input(ng-model="markup.start" ,type="text")
	p end
		input(ng-model="markup.end", type="text")
	p metadata
		input(ng-model="markup.metadata", type="text")
	p status
		input(ng-model="markup.status" ,type="text")
	p depth
		input(ng-model="markup.depth" type="text" )
	a(ng-click="markup_delete(markup)") markup_delete
	// a(ng-click="offset_markup(markup)")  markup offset 

	a.btn(ng-click="markup_save(markup)") ok