// p {{markup.start}} - {{markup.end}} - {{markup.metadata}} - {{markup.type}} - {{markup.subtype}}



div(ng-controller="FragmentCtrl", class="markup_box markup_box_depth_{{markup.depth}} markup_box_status_{{markup.status}}   markup_displayer_ markup_displayer markup_displayer_{{markup.type}} markup_displayer_subtype_{{markup.subtype}}  by_me_{{markup.by_me}} is_editing_{{markup.editing}}") 
	

	div(class="iframe_container iframe_{{markup.subtype}}", fluid, subtype="{{markup.subtype}}", url="{{markup.metadata}}",  ng-if="markup.type=='media'" , ng-hide="markup.subtype=='img'")
		
	

	img.mk_img(ng-if="markup.subtype=='img'" , data-tdid="{{markup.id}}" , ng-src="{{markup.metadata}}")

	// p {{objSchema[markup.type].icon.before.show}}
	span.icon_col.use_depth(ng-hide="markup.type== 'child' ")
		i(class="fa fa-{{markup.type}} fa-{{markup.subtype}} editing_{{markup.editing}} selected_{{markup.selected}}",  ng-click="toggle_select_markup(markup,'click')", ng-dblclick="toggle_select_markup(markup, 'dblclick')"  ) 
			span(ng-if="markup.type=='generic'") {{markup.subtype[0]}}

	div.data_col
		// p {{markup.explicit_string}}


		span.mk_val.metadata.use_depth(ng-bind-html="markup.metadata",  ng-if="objSchema[markup.type].metadata.render.show") 
		

		span.mk_val.subtype.use_depth(class="mk_val_subtype_{{markup.subtype}}", ng-if="markup.type=='markup'")  {{markup.subtype}} 

		
		span.mk_val.mk_metas.use_depth
			span.mk_val.created(ng-if="objSchema[markup.type].show_date") {{markup.created | date }}
			
			span.mk_val.mk_username( style="color:{{markup.user_options['color'].value}}", ng-if="objSchema[markup.type].show_user") 
				{{markup.username}}
			
			// span.mk_val.mk_avatar.color_avatar.mini(style="background-color:{{markup.user_options['color'].value}}")

		span(ng-include="fragments['child_markup'][0].url", ng-if="markup.type == 'child' ")
		
			
	div(class="markup_editor markup_editor_{{markup.type}}", ng-if="markup.editing == true ")
		h5 Edit markup
		form(name="myForm")		
			.object-tools

				i.fa.fa-save.btn_action(ng-click="markup_save(markup)")
				i.fa.fa-remove.btn_action(ng-click="markup_delete(markup)")
				i.fa.fa-sliders.btn_action(ng-click="object_tools(markup)")


			.section_tool_more(ng-if="markup.object_tools")
				div(ng-if="markup.subtype=='img'")
					
					p
						a(ng-click="replace_markup(markup, 'position', 'left')") move to left
					p
						a(ng-click="replace_markup(markup, 'position', 'right')") move to right
					p
						a(ng-click="replace_markup(markup, 'position', 'wide')") move to wide

				div(ng-if="markup.type=='markup'")
					
					p
						a(ng-click="offset_markup(markup, 0,1)") offset end+1
					p
						a(ng-click="offset_markup(markup, 0,10)") offset end+10
					p
						a(ng-click="offset_markup(markup, 1,1)") offset start+1, end+1
					p
						a(ng-click="offset_markup(markup, 1,0)") offset start+1
					p
						a(ng-click="offset_markup(markup, 0,-1)") offset end-1
					p
						a(ng-click="offset_markup(markup, -1,-1)") offset start-1, end-1
					p
						a(ng-click="offset_markup(markup, -1, 0)") offset start-1

				span.field.smallinput(ng-if="true")
					label status
					input( ng-model="markup.status" ,type="text")
				span.field.smallinput(ng-if="true")
					label  depth
					input( ng-model="markup.depth" type="text" )
							
			span.field.typer
				label.label_type type
				ul.typer
					li(ng-repeat="t in available_sections_objects")
						span {{t}}
						i.fa.btn_action(ng-class="{ 'selected' : markup.type == t,}" , class="fa-{{t}}" , ng-click="markup_type(markup, t)") 
				

					// select(ng-model="markup.type", ng-options="t for t in available_sections_objects")
					// option(value="markup.type")
					// option(value="t") {{t}}
			
			span.field.typer.sub
				label sub-type
				// input(ng-model="markup.subtype" , type="text")


				ul.typer.sub
					li(ng-repeat="t in objSchema[markup.type].subtype.available")
						span {{t}}
						i.fa.btn_action(ng-class="{ 'selected' : markup.subtype == t,}" , class="fa-{{t}}" , ng-click="markup_subtype(markup, t)") 
				
				
				// select(ng-options="sub for sub in objSchema[markup.type].subtype.available" , ng-model="markup.subtype", name="markup.subtype")
								
			span.field(ng-if="markup.type =='child' ")
				label sub-doc id
				input(ng-model="markup.doc_id_id" , type="text")

			span.field 
				label position

				ul.typer.position
					li(ng-repeat="t in objSchema[markup.type].position_available")
						span {{t}}
						i.fa.btn_action(ng-class="{ 'selected' : markup.position == t,}" , class="fa-{{t}}" , ng-click="markup_position(markup, t)") 
				

				// input(ng-model="markup.position" ,type="text")
				// select(ng-options="pos for pos in objSchema[markup.type].position_available" , ng-model="markup.position", name="markup.position")

			span.field.ranges
				
				span.ranges_inputs
					span.field.numberfloat._start
						label start
						input(required   type="number" , ng-model="markup.start" )

					span.field.numberfloat.number._end
						label end
						input(required  type="number" , ng-model="markup.end" )
				span.ranges_tools
					i.fa.fa-text-width.match_selection(title="re-match ranges from active selection", ng-click="match_selection(markup)" ) 
					
			span.field.mt_input(class="mt_input_type_{{markup.type}} mt_input_subtype_{{markup.subtype}}", ng-if="objSchema[markup.type].metadata.editor.show") 
				label {{objSchema[markup.type].metadata.editor.label}}
				
				// input or textarea
				input(ng-if="objSchema[markup.type].metadata.editor.input =='input'", ng-model="markup.metadata", type="text")
				textarea(ng-if="objSchema[markup.type].metadata.editor.input =='textarea'", ng-model="markup.metadata")
			
			span.field.uploader(ng-if="markup.type == 'media' ")
				input(onchange="angular.element(this).scope().preuploadFile(this.files)", type="file")
				a(ng-click="uploadFile()" ) send
				img(ng-if="upload_file_image.uploaded == true", ng-src="{{upload_file_image.fullpath}}")
