div(ng-controller="FragmentCtrl", class="markup_box markup_box_depth_{{markup.depth}} markup_box_status_{{markup.status}}   markup_displayer_ markup_displayer markup_displayer_{{markup.type}} markup_displayer_subtype_{{markup.subtype}}  by_me_{{markup.by_me}} is_editing_{{markup.editing}}")
	
	// p {{markup.start}} - {{markup.end}} - {{markup.metadata}} - {{markup.type}} - {{markup.subtype}}
	// p {{markup.selected}}
	div(class="iframe_container iframe_{{markup.subtype}}", fluid, subtype="{{markup.subtype}}", url="{{markup.metadata}}",  ng-if="markup.type=='media'" , ng-hide="markup.subtype=='img'")
		
	img.mk_img(ng-if="markup.subtype=='img'" , data-tdid="{{markup.id}}" , ng-src="{{markup.metadata}}")

	span.icon_col.use_depth(ng-hide="markup.type== 'child' ")
		i(class="fa fa-{{markup.type}} fa-{{markup.subtype}} editing_{{markup.editing}} selected_{{markup.selected}}",  ng-click="toggle_select_markup(markup,'click')", ng-dblclick="toggle_select_markup(markup, 'dblclick')"  ) 
			span(ng-if="markup.type=='generic'") {{markup.subtype[0]}}

	div.data_col
		// p {{markup.explicit_string}}

		span.mk_val.metadata.use_depth(ng-bind-html="markup.metadata",  ng-if="objSchema[markup.type].metadata.render.show") 
		
		span.mk_val.subtype.use_depth(class="mk_val_subtype_{{markup.subtype}}", ng-if="markup.type=='markup'")  {{markup.subtype}} 

		span.mk_val.mk_metas.use_depth
			span.mk_val.created(ng-if="objSchema[markup.type].show_date") {{markup.created | date }}
			
			span.mk_val.mk_username( style="color:{{markup.user_options['color'].value}}", ng-if="objSchema[markup.type].show_user") 
				{{markup.username}}
			
			// span.mk_val.mk_avatar.color_avatar.mini(style="background-color:{{markup.user_options['color'].value}}")

		span(ng-include="fragments['child_markup'][0].url", ng-if="markup.type == 'child' ")
		
	div(ng-include="fragments['markup_editor'][0].url", class="markup_editor markup_editor_{{markup.type}}", ng-if="markup.editing == true ")
		