
.three.columns
.six.columns(class="{{docmetas.media_theme}}")

 .media-content.img-content(ng-if="(doc.doc.kind = 'img') || (doc.doc.kind = 'media')")
  img(src="{{docmetas['media_url']}}")
 
  
 .media-content.vimeo-content(ng-show="doc.doc.kind=='vimeo'")
   // iframe(src="//player.vimeo.com/video/{{docmetas.vimeo_video_id}}?autoplay={{docmetas.media_autoplay}}&amp;loop={{docmetas.media_loop}}", width="{{docmetas.media_o_w}}" ,height="{{docmetas.media_o_h}}", frameborder="0" , webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
   p 
    a(href="{{docmetas.vimeo_url}}")
     {{docmetas.media_description}} 

 .media-info(ng-if="(doc.doc.kind = 'img') || (doc.doc.kind = 'media')")
  p.media-description(ng-if="doc.doc.kind='img'") {{docmetas.media_description}}    
  p.media-meta(ng-if="doc.doc.kind ='img'")
   .{{docmetas.media_filetype}} {{docmetas.media_o_w}}px*{{docmetas.media_o_h}}px
  p.media-licence 
   a(target="_blank", href="{{docmetas.credit_link}}")
    span(ng-if="docmetas.licence_subtype =='c'") &copy; 
    {{docmetas.credit_text}}
.three.columns