div.section_displayer( ng-if="section.type=='container' && ui.renderAvailable_active == 'editor' ")
	// p {{section._id}}
	// p {{section.subtype}}
	// p {{section.start}} - {{section.end}} - {{section.metadata}} - {{section.type}} - {{section.subtype}}
	

	a.btn.btn_section.btn_section_select(href="",ng-if="section.selected==false", ng-click="toggle_select_markup(section,'click')") Select section
	a.btn.btn_section.btn_section_unselect(href="", ng-if="section.selected == true ", ng-click="toggle_select_markup(section,'click')") Unselect

	div.section_editor(ng-if="section.selected == true ")
		
		.object-tools
			i.fa.fa-sliders.btn_action(ng-click="object_tools(section)")
		
		.section_tool_more(ng-if="section.object_tools")
			// a(ng-click="offset_markup(section)")  section offset 
			label type 
			input(ng-model="section.type" ,type="text")
			label subtype
			input(ng-model="section.subtype" ,type="text")
			
		// p {{$parent.$parent.$index}}
		
		//label position
		input(ng-model="section.position" ,type="hidden")
		span.field.ranges
			span.ranges_inputs
				span.field.numberfloat._start
					label start
					input(required   type="number" , ng-model="section.start" )
				span.field.numberfloat.number._end
					label end
					input(required  type="number" , ng-model="section.end" )
			span.ranges_tools
				i.fa.fa-text-width.match_selection(title="re-match ranges from active selection", ng-click="match_selection(section)")
		// label metadata
		// input(ng-model="section.metadata", type="text")
		// label status
		// input(ng-model="section.status" ,type="text")
		// label depth
		// input(ng-model="section.depth" type="text" )

		.object-tools
			i.fa.fa-save.btn_action(ng-click="markup_save(section)")
			i.fa.fa-remove.btn_action(ng-click="markup_delete(section)")
