// BTN's
	// HELP 
	// USER logged
	// USER not logged
	// DOCUMENT options
	// DOC published

// HELP MENU BTN
// DOC PUBLISHED > toggle mode / conditionnal owner
i.fa.fa-key.quick_tool_opener.menuicon.menuicon-published(class="inside" ng-class="{'visible_yes': ui.menus.quick_tools_published.open=='yes'}"  , ng-click="expand_tools('quick_tools_published')" , ng-dblclick="expand_tools('quick_tools_published')" ng-if="doc_owner == true  || ui.secret " )


div.quick_tools.qt-published(class="visible_{{ui.menus.quick_tools_published.open}}")
	p.back_read(ng-click="toggle_render('read')") &laquo; {{render_config.i18n.CUSTOM.ACTIONS.back_to_document}}
	span.floating-edit
		span This document is&nbsp; 
		span(ng-if="doc.published == 'draft'") a&nbsp; 
		select(ng-model="doc.published", name="doc.published")
			// option(value="{{doc.published}}") {{doc.published}}
			option(value="draft" ) draft
			option(value="public") public
		span
			i.fa.fa-save(ng-click="edit_doc('published')")
	h5(ng-if="doc.published == 'draft'") You can share its secret 
		a(href="#{root_url}:#{port}/doc/{{doc.slug}}?secret={{doc.secret}}") url : {{doc.secret}}


i.fa.fa-question.quick_tool_opener.menuicon.menuicon-help( ng-class="{'visible_yes': ui.menus.quick_tools_help.open=='yes'}"  class="inside", ng-click="expand_tools('quick_tools_help')", ng-dblclick="expand_tools('quick_tools_help')" )

div.quick_tools.qt-help(class="visible_{{ui.menus.quick_tools_help.open}}")
	p.back_read(ng-click="toggle_render('read')") &laquo; {{render_config.i18n.CUSTOM.ACTIONS.back_to_document}}
	
	div(ng-if="render_config.i18n.id =='fr-fr'") 
		h1 Guide utilisateur
		br
		br
		h3 Créer un compte et se connecter
		br
		ul
			li Pour se créer un  compte : 
				a(href="../../signup") ici
			li et pour se connecter : 
				a(href="../../login") ici
		
		

	div(ng-if="render_config.i18n.id !== 'fr-fr'") 


		h1 User guide help
		h3 Register / login to your account
		ul
			li to create an account go 
				a(href="../../signup") here 
			li to login go 
				a(href="../../login") here 

		h3 User Account
			p once logged go 
				a(href="../../me/account") here 


		h3 Create new document
		p go 
				a() here 
		
		h3 Edit a document

		h4 edit content


		h4 add markup, media, comments and other objects
		

		h3 Document options
		h3 Publish document
		h3 Comment moderation

		h3 Faq
		ul
			// li blou

// GO PROFILE Link
a.quick_tool_opener.menuicon.menuicon-user( href="/me/account" ng-if="userin.username !== '' ") 
	i.fa.fa-user( ) &nbsp; {{userin.username}}

// GO LOGIN link
a.quick_tool_opener.menuicon.menuicon-sign-in( href="/login?redirect_url=#{root_url}:#{port}/doc/{{doc.slug}}" ng-if="userin.username == '' ") 
	i.fa.fa-sign-in()




// DOC OPTIONS > toggle mode
a.quick_tool_opener.menuicon.menuicon-document(tooltip="{{render_config.i18n.CUSTOM.DOCUMENT.document_options}}" tooltip-placement="left" ng-if="doc_owner == true  || ui.secret " ng-click="toggle_render('doc_options')" ng-class="{'visible_yes': ui.renderAvailable_active =='doc_options'}") 
	i.fa.fa-cog() 


// edit > toggle mode
a.quick_tool_opener.menuicon.menuicon-editor(tooltip="edit" tooltip-placement="left" ng-if="(doc_owner == true  || ui.secret) && ui.renderAvailable_active =='read'" ng-click="toggle_render('editor')") 
	i.fa.fa-pencil( ng-class="{'visible_yes': ui.renderAvailable_active =='editor'}")


// edit > toggle mode
a.quick_tool_opener.menuicon.menuicon-editor(tooltip="edit" tooltip-placement="left" ng-if="(doc_owner == true  || ui.secret) && ui.renderAvailable_active !=='read'" ng-click="toggle_render('read')" ng-class="{'visible_yes': ui.renderAvailable_active =='read'}") 
	i.fa.fa-eye()


